{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set title = "Team" %}


{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_team_new') }}">Opret nyt</a>
{% endblock %}


{% block table_head %}
    <tr>
        <th>#</th>
        <th>Navn</th>
        <th>Leder</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}


{% block table_row %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.leader.name|default }}</td>
        <td>{{ entity.members|length }}</td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_team_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>
                {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_team_delete', {'id': entity.id}) }) }}
            </div>
        </td>
    </tr>
{% endblock %}

