{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set title = "Blog" %}

{% block actions %}
{#    <a class="btn btn-default" href="{{ path('backend_admin_blog_new') }}">Opret nyt</a>#}
    <p class="mt-md small">{{ 'Blogindlæg skal oprettes som Wordpress indlæg via'|trans }} <a href="https://safe2trade.dk/wp-admin/edit.php?post_type=post" style="color: #1D8BB0;" target="_blank">safe2trade.dk/wp-admin</a> </p>
{% endblock %}

{% block table_head %}
    <tr>
        <th>#</th>
        <th>Overskrift</th>
        <th>Sti</th>
        <th>Oprettet</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}

{% block table_row %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>
            <a href="{{ path('backend_admin_blog_edit', {'id': entity.id}) }}">{{ entity.headline }}</a>
        </td>
        <td>{{ entity.slug }}</td>
        {% set _locale = app.request.locale|default('da') %}
        <td>{{ entity.createdAt|format_datetime('medium', 'short', locale=_locale) }}</td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_blog_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>
                {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_blog_delete', {'id': entity.id}) }) }}
            </div>
        </td>
    </tr>
{% endblock %}

