{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}
{% set searchFormAction = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_review_new') }}">Opret ny</a>
{% endblock %}

{% block table_head %}
    <tr>
        <th align="center">
            <input type="checkbox" value="all" class="select-all-checkboxes"/>
            #
        </th>
        <th>Oprettet</th>
        <th>Handel</th>
        <th>Fra</th>
        <th>Til</th>
        <th>Stjerner</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}

{% block table_row %}
    {# @var entity \App\Entity\Review #}
    <tr>
        <td nowrap>
            <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" id="id_{{ entity.id }}" class="entity-checkbox mr-xs"/>
            <label for="id_{{ entity.id }}">{{ entity.id }}</label>
            <a href="{{ path('backend_admin_review_edit', {'id': entity.id}) }}" class="ml-xl">{{  entity.headline|default("Rediger") }}</a>
        </td>
        <td>{{ entity.createdAt|format_datetime('medium', 'short', locale='da') }}</td>
        <td>{{ entity.deal.productName|default("") }}</td>
        <td>{{ entity.fromUser.name|default("") }}</td>
        <td>{{ entity.toUser.name|default("(Ingen valgt)") }}</td>
        <td>{% if entity.rating %}<div class="star-score" style="--rating: {{ entity.rating }};" aria-label="{{ entity.rating }}"></div> ({{ entity.rating }}){% endif %}</td>

        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_review_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>
                {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_review_delete', {'id': entity.id}) }) }}
            </div>
        </td>
    </tr>
    {% if entity.reviewChanges|length > 1 %}
        {% for change in entity.reviewChanges %}
            <tr>
                <td colspan="7">
                    <i class="fas fa-user-edit mr-3" style="color:#487bb9; margin-left: 22px;"></i>
                    <span class="m-1"><small class="mr-2">{{ change.createdAt|format_datetime('medium', 'short', locale='da') }}</small> {{ change.headline }}:</span>
                    <em class="small">{{ change.comment }}</em>
                    {% if change.rating %}<div class="star-score" style="--rating: {{ change.rating }};" aria-label="{{ change.rating }}"></div> ({{ change.rating }}){% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if entity.abuses|length > 0 %}
        {% for abuse in entity.abuses %}
            <tr>
                <td colspan="7">
                    <i class="fas fa-flag mr-3" style="color:#B94A48; margin-left: 22px;"></i>
                    <span class="m-1"><small class="mr-2">{{ abuse.createdAt|format_datetime('medium', 'short', locale='da') }}</small> {{ abuse.informer.name }}:</span>
                    <em>{{ abuse.reason }}</em>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let pathDeleteEntities = "{{ path('base_backend_admin_review_delete_multiple') }}";
    </script>
{% endblock %}


