{% trans_default_domain "homefeed" %}

{% set createdAt = entity.createdAt %}
{% if datetime is defined %}
    {% set createdAt = datetime %}
{% endif %}

{% set showHtml = true %}
{% if html is defined and html == "hidden" %}
    {% set showHtml = false %}
{% endif %}

{% set startDate = "NOW"|date("U") %}
{% set endDate = createdAt|date("U") %}
{% set difference = date(endDate).diff(date(startDate)) %}

{#{{ dump(difference) }}#}

{% set todayDate = createdAt|date("Ymd") %}
{% set yesterdayDate = todayDate - 1 %}

{% if showHtml %}
    <small class="blog-time">
{% endif %}

    {% if todayDate == "NOW"|date("Ymd") %}

        {% if difference.h == 0 %}
            {{ 'Lige nu'|trans }}

        {% elseif difference.h == 1 %}
            {{ 'En time siden'|trans }}

            {% else %}
            {{ 'I dag'|trans }}
        {% endif %}

    {% elseif yesterdayDate == "NOW"|date("Ymd") %}
        {{ 'I går'|trans }}

    {% elseif(difference.days < 7) %}
        {{ 'I denne uge'|trans }}

    {% elseif(difference.days < 14) %}
        {{ 'For en uge siden'|trans }}

    {% else %}
        {% set _locale = app.request.locale|default('da') %}
        {{ createdAt|format_datetime('medium', 'none', locale=_locale) }}

    {% endif %}

{% if showHtml %}
    <i class="fas fas fa-calendar-alt"></i>
</small>
{% endif %}
