{% trans_default_domain "homefeed" %}
{{ form_start(reviewForm,{'attr': {'id': 'review_form'}}) }}
<div class="row">
    <div class="col-6">

        <div class="form-group">
            {{ form_widget(reviewForm.rating) }}
        </div>

        <div class="form-group">
            {{ form_widget(reviewForm.headline) }}
        </div>

        <div class="form-group">
            {{ form_widget(reviewForm.comment) }}
        </div>

    </div>
    <div class="col-6 image-input">
        <div class="image-holder mb-4" style="height: 75%">
            {% set image = '/uploads/review/'~imagePath %}
            <img class="img-fluid" src="{{ image|imagine_filter('review_image') }}" alt="">
        </div>
        {{ form_widget(reviewForm.image) }}
    </div>
</div>
{{ form_end(reviewForm) }}
