{% trans_default_domain "homefeed" %}
{# @var message \App\Entity\Message #}

{% set myMessage = false %}
{% if message.fromUser == app.user %}
    {% set myMessage = true %}
{% endif %}
<div class="row message {% if myMessage %} my-message {% endif %}">
    <div class="col-12">

        {% if message.createdAt|date("Ymd") == "now"|date("Ymd") %}
            <small class="date">{{ message.createdAt|date("H:i") }}</small>
        {% else %}
            {% set _locale = app.request.locale|default('da') %}
            <small class="date">{{ message.createdAt|format_datetime('medium', 'short', locale=_locale) }}</small>
        {% endif %}
        <div class="breaker"></div>

        <p>
            {% if myMessage %}
                <img src="{{ app.user.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle">
            {% else %}
                <img src="{{ message.fromUser.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle">
            {% endif %}
            <span>{{ message.text }}</span>
        </p>
        <div class="breaker"></div>

    </div>
</div>

