{% trans_default_domain "homefeed" %}
<!-- deal form -->
<div class="modal fade" id="dealForm" tabindex="-1" role="dialog" aria-labelledby="{{ 'Handelsanmodning'|trans }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="dealFormHeader">
                <h5 class="modal-title" id="dealFormHeadline">{% block dealFormHeadline %}{% trans %}Handelsinformation{% endtrans %}{% endblock %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Annuller'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="dealFormSuccess" style="display: none;">{% block dealFormSuccess %}{% endblock %}</div>
                <div class="alert alert-danger" id="dealFormError" style="display: none;"></div>
                {% block dealFormForm %}
                    <form enctype="multipart/form-data">
                    </form>
                {% endblock %}
            </div>
            {% block dealFormFooter %}
                <div class="modal-footer" id="dealFormFooter"></div>
            {% endblock %}
        </div>
    </div>
</div>