{% trans_default_domain "homefeed" %}
<div class="modal fade" id="newDealForm" tabindex="-1" role="dialog" aria-labelledby="{{ 'Handelsanmodning'|trans }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="newDealFormHeader">
                <h5 class="modal-title">{% block newDealFormHeadline %}{{ 'Handelsanmodning'|trans }} {{ '(Du er køber)'|trans }}{% endblock %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Annuller'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success mb-0" id="newDealFormSuccess" style="display: none;">{% block newDealFormSuccess %}{{ 'Tak! Din anmodning er nu sendt!'|trans }}{% endblock %}</div>
                <div class="alert alert-danger" id="newDealFormError" style="display: none;"></div>
                {% block newDealFormForm %}
                    {{ form_start(form,{'attr': {'id': 'deal_form'}}) }}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_widget(form.productName) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.price) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.currency) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.productCondition) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                        <div class="col-6 image-input">
                            <a href="#" onclick="$('input#deal_image').click(); return false;" class="btn btn-secondary">Upload billede <i class="fas fa-image"></i></a>
                            <div class="d-none">
                                {{ form_widget(form.image) }}
                            </div>
                            <div class="image-holder mt-2"></div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                {% endblock %}
            </div>
            {% block newDealFormFooter %}
                <div class="modal-footer" id="newDealFormFooter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Annuller'|trans }} {{ 'anmodning'|trans }}</button>
                    <button type="button" class="btn btn-primary" id="newDealFormSubmit">{{ 'Send'|trans }} {{ 'anmodning'|trans }}</button>
                </div>
            {% endblock %}
        </div>
    </div>
</div>