{% trans_default_domain "homefeed" %}
<!-- review form -->
<div class="modal fade" id="reviewForm" tabindex="-1" role="dialog" aria-labelledby="{{ 'Handelsanmodning'|trans }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block reviewFormHeadline %}{% trans %}Bedømmelse af handel med{% endtrans %}{% endblock %} <span id="review-headline-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Annuller'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="reviewFormSuccess" style="display: none;">{% block reviewFormSuccess %}{% endblock %}</div>
                <div class="alert alert-danger" id="reviewFormError" style="display: none;"></div>
                {% block reviewFormForm %}
                    <div id="reviewFormContent">
                        {{ form_start(reviewForm,{'attr': {'id': 'review_form'}}) }}
                            <div class="row">
                                <div class="col-6">

                                    <div class="form-group">
                                        {{ form_widget(reviewForm.rating) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(reviewForm.headline) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(reviewForm.comment) }}
                                    </div>

                                </div>
                                <div class="col-6 image-input">
                                    <p>Del billede som understøtter din bedømmelse (valgfrit)</p>
                                    <div class="image-holder" style="height: 75%"></div>
                                    {{ form_widget(reviewForm.image) }}
                                </div>
                            </div>
                        {{ form_end(reviewForm) }}
                    </div>
                {% endblock %}
            </div>
            {% block reviewFormFooter %}
                <div class="modal-footer" id="reviewFormFooter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Annuller{% endtrans %}</button>
                    <button type="button" class="btn btn-primary" id="createReview">{% trans %}Send{% endtrans %}</button>
                </div>
            {% endblock %}
        </div>
    </div>
</div>