{% trans_default_domain "homefeed" %}
<button type="button" class="btn btn-secondary" id="dealFormDismiss" data-dealuuid="{{ uuid }}">{{ 'Slet'|trans }}</button>
<button type="button" class="btn btn-success" id="dealFormAccept" data-dealuuid="{{ uuid }}">{{ 'Accepter'|trans }}</button>
