{% trans_default_domain "homefeed" %}
<!-- Contact form -->
<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="{{ 'Kontaktformular'|trans }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Kontaktformular'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Annuller'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success mb-0" id="contactFormSuccess" style="display: none;">{% trans %}Tak! Din besked er nu afsendt. Vi svarer hurtigst muligt.{% endtrans %}</div>
                <form>
                    <div class="form-group">
                        {# <label for="contactModalEmail">E-mail</label> #}
                        <input type="email" class="form-control" id="contactFormEmail" placeholder="{{ 'E-mail'|trans }}">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="contactFormSubject">
                            <option value="none">{{ 'Vælg emne'|trans }}</option>
                            <option>Jeg er blevet snydt</option>
                            <option>Det tekniske driller</option>
                            <option>Modtaget usaglig bedømmelse</option>
                            <option>Problemer med oprettelse</option>
                            <option>Problemer med login</option>
                            <option>Andet</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="contactFormText" rows="3" placeholder="{{ 'Beskrivelse af dit problem'|trans }}"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="contactFormFooter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Annuller{% endtrans %}</button>
                <button type="button" class="btn btn-primary" id="contactFormSubmit">{% trans %}Send{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
