{% trans_default_domain "homefeed" %}
{% if extraText is defined and extraText %}
    <div class="row">
        <div class="col-12 text-center">
            <p>{{ extraText }}</p>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <strong>{{ 'Produkt'|trans }}:</strong> {{ deal.productName }}
        </div>
        <div class="form-group">
            <strong>{{ 'Pris'|trans }}:</strong> {{ deal.price|number_format }} <small>{{ deal.currency }}</small>
        </div>
        <div class="form-group">
            <strong>{{ 'Stand'|trans }}:</strong> {{ condition|trans }}
        </div>
        <div class="form-group">
            {% if deal.description|trim|length > 0 %}
                <strong>{{ 'Beskrivelse'|trans }}:</strong><br>{{ deal.description|default("") }}
            {% endif %}
        </div>
        <div class="form-group">
            <strong>{{ 'Status'|trans }}:</strong> {{ deal.status|trans }}
        </div>

    </div>
    <div class="col-6">
        <div class="dealFormPlaceholder" id="dealFormImageWrapper">
            {% if deal.image|default("") %}
                {% set image = "/uploads/deal/"~deal.image|default("") %}
                <img src="{{ image|imagine_filter("deal_modal_image") }}" alt="{{ deal.productName }}" class="img-fluid rounded" />
            {% endif %}
        </div>
    </div>
</div>
