{% trans_default_domain "homefeed" %}
<a class="nav-link" href="#" id="navDropNotify" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'Notifikationer'|trans }}">
    <i class="fa fa-bell">
        {% if unreadNotifications|default|length > 0 %}
            <span class="badge badge-danger">{{ unreadNotifications|length }}</span>
        {% endif %}
    </i>
    <span class="d-md-none">{{ 'Notifikationer'|trans }}</span>
</a>
<div class="dropdown-menu dropdown-menu-right">
    {% if notifications %}
        {% for notification in notifications %}

            <span class="dropdown-item">
            
                {% if not notification.seen %}
                    <span class="unseen-dot"></span>
                {% endif %}

                <p>
                    {% if notification.type == "poke" %}
                        <i class="fas fa-hand-point-right"></i> {{ 'Du har fået et prik!'|trans }} <a href="{{ path('homefeed_profile', { slug: notification.fromUser.slug }) }}" class="btn btn-secondary btn-sm">{{ 'Se fra hvem'|trans }}</a>
                    {% elseif notification.type == "deal" and notification.text == "dismissed" %}
                        <a href="#" class="show-deal normal-text" data-dealuuid="{{ notification.deal.uuid }}"> <i class="fas fa-handshake-slash"></i> {{ 'Handelsanmodning annulleret'|trans }} {#{{ 'Vis info'|trans }}#}</a>
                    {% elseif notification.type == "deal" %}
                        <i class="fas fa-handshake"></i> {{ 'Ny handelsanmodning'|trans }} <a href="#" class="btn btn-secondary btn-sm show-deal {% if notification.deal.status == 'new' %}show-accept{% endif %}" data-dealuuid="{{ notification.deal.uuid }}">{{ 'Vis info'|trans }}</a>
                    {% elseif notification.type == "review" %}
                        <i class="fas fa-star-half-alt"></i> {{ 'Ny bedømmelse'|trans }} <a href="{{ path('homefeed_profile', { slug: app.user.slug }) }}" class="btn btn-secondary btn-sm">{{ 'Se den nu'|trans }}</a>
                    {% endif %}
                    <span class="time-since">
                        {% if notification.createdAt|date("Y-m-d") == "NOW"|date("Y-m-d") %}
                            {{ 'I dag'|trans }} {{ 'kl.'|trans }} {{ notification.createdAt|date("H:i") }}
                        {% else %}
                            {% set _locale = app.request.locale|default('da') %}
                            {{ notification.createdAt|format_datetime('medium', 'none', locale=_locale) }}
                        {% endif %}
                    </span>
                </p>
            </span>
        {% endfor %}

    {% else %}

        <p class="pl-3">{{ 'Ingen notifikation'|trans }}</p>
    {% endif %}

    {% if notifications|length > 0 %}
        <div class="dropdown-divider"></div>
        <div class="text-center">
            <a href="{{ path('homefeed_all_notifications', {uuid: app.user.uuid}) }}" class="dropdown-item underlined">{{ 'Vis alle'|trans }}</a>
        </div>

    {% endif %}
</div>