{% trans_default_domain "homefeed" %}
<a class="nav-link" href="#" id="navDropDeals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'Handler'|trans }}">
    <i class="fa fa-random">
        {% if newDeals|default|length > 0 %}
            <span class="badge badge-danger">{{ newDeals|length }}</span>
        {% endif %}
    </i>
    <span class="d-md-none">{{ 'Handler'|trans }}</span>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropDeals">
    {% if deals %}
        {% for deal in deals %}

            {% set you = deal.seller %}
            {% if you == app.user %}
                {% set you = deal.buyer %}
            {% endif %}

            {% if deal.status == "new" %}
                <a class="dropdown-item btn btn-secondary btn-sm show-deal {% if app.user == deal.seller %}show-accept{% endif %}" data-dealuuid="{{ deal.uuid }}">

                    {% if deal.createdAt|date("Ymd") == "now"|date("Ymd") and deal.seller == app.user %}
                        <span class="unseen-dot"></span>
                    {% endif %}

                    <p><i class="fas fa-handshake"></i> {{ 'Ny handelsanmodning'|trans }} {{ you.name|default("Slettet bruger") }}
            {% else %}
                <a class="dropdown-item btn btn-secondary btn-sm show-deal" data-dealuuid="{{ deal.uuid }}">
                    <p><i class="fas fa-handshake"></i> {{ 'Handel'|trans }} {{ you.name|default("Slettet bruger") }}
            {% endif %}
                    <span class="time-since">
                        {% if deal.createdAt|date("Y-m-d") == "NOW"|date("Y-m-d") %}
                            {{ 'I dag'|trans }} {{ 'kl.'|trans }} {{ deal.createdAt|date("H:i") }}
                        {% else %}
                            {% set _locale = app.request.locale|default('da') %}
                            {{ deal.createdAt|format_datetime('medium', 'none', locale=_locale) }}
                        {% endif %}
                    </span>
                    </p>
                </a>
        {% endfor %}

    {% else %}
        <p class="pl-3">{{ 'Ingen notifikation'|trans }}</p>
    {% endif %}

    {% if deals|length > 0 %}
        <div class="dropdown-divider"></div>
        <div class="text-center">
            <a href="{{ path('homefeed_all_deals', {uuid: app.user.uuid}) }}" class="dropdown-item underlined">{{ 'Vis alle'|trans }}</a>
        </div>

    {% endif %}
</div>