{% trans_default_domain "homefeed" %}
<a class="nav-link" href="#" id="navDropMessages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'Beskeder'|trans }}">
    <i class="far fa-envelope">
        {% if unreadMessages|default|length > 0 %}
            <span class="badge badge-danger">{{ unreadMessages|length }}</span>
        {% endif %}
    </i>
    <span class="d-md-none">{{ 'Beskeder'|trans }}</span>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropMessages">
    {% if messages %}

        {# @var latestMessage \App\Entity\Message #}
        {% for latestMessage in messages %}

            {% set otherUser = latestMessage.fromUser %}
            {% if latestMessage.fromUser == app.user %}
                {% set otherUser = latestMessage.toUser %}
            {% endif %}

            <a href="{{ path('homefeed_messages', {uuid: otherUser.uuid}) }}" class="dropdown-item dropdown-item-message">

                {% if not latestMessage.seen and latestMessage.fromUser != app.user %}
                    <span class="unseen-dot"></span>
                {% endif %}

                <p>
                    <img src="{{ otherUser.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle">
                    <span>{{ otherUser.name|default("Slettet bruger") }}</span>
                    <span class="time-since float-right">
                        {{ include('homefeed/include/card_time.html.twig', { entity: latestMessage, html: 'hidden'}) }}

{#                        {% if latestMessage.createdAt|date("Y-m-d") == "NOW"|date("Y-m-d") %}#}
{#                            {{ 'I dag'|trans }} {{ 'kl.'|trans }} {{ latestMessage.createdAt|date("H:i") }}#}
{#                        {% else %}#}
{#                            {% set _locale = app.request.locale|default('da') %}#}
{#                            {{ latestMessage.createdAt|format_datetime('medium', 'none', locale=_locale) }}#}
{#                        {% endif %}#}

                    </span>
                    <span class="time-since sample">
                        {% if latestMessage.fromUser == app.user %}
                            {{ 'Mig'|trans }}:
                        {% endif %}
                        {{ latestMessage.text|slice(0, 20) }}{% if latestMessage.text|trim|length > 20 %}...{% endif %}
                    </span>
                </p>
            </a>
        {% endfor %}

    {% else %}
        <p class="pl-3">{{ 'Ingen beskeder'|trans }}</p>
    {% endif %}

    {% if messages|length > 0 %}
        <div class="dropdown-divider"></div>
        <div class="text-center">
            <a href="{{ path('homefeed_messages_overview', {uuid: app.user.uuid}) }}" class="dropdown-item underlined">{{ 'Vis alle'|trans }}</a>
        </div>
    {% endif %}
</div>