{% extends("homefeed/base.html.twig") %}
{% trans_default_domain "homefeed" %}

{% set title = "Handler" %}
{% block reviewForm %}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-12">

            <div class="card card-headline">
                <div class="card-body">
                    <h4 class="card-title">{{ 'Alle'|trans~' '~'handler'|trans }}</h4>
                </div>
            </div>

            {% for deal in deals %}

                {% set you = deal.seller %}
                {% set opposite = 'Sælger'|trans %}
                {% if you == app.user %}
                    {% set you = deal.buyer %}
                    {% set opposite = 'Køber'|trans %}
                {% endif %}

                {% set condition = deal.productCondition %}
                {% if deal.productCondition matches '/^\\d+$/' %}
                    {% set condition = attribute(conditions, deal.productCondition) %}
                {% endif %}

                <div class="card mb-2">
                    <div class="card-body w-100">
{#                        {% if deal.status == "dismissed" %}#}
{#                            <div class="position-absolute d-block w-100 text-center bg-grey p-0">#}
{#                                <p class="m-1">{{ 'Annulleret'|trans }}</p>#}
{#                            </div>#}
{#                        {% endif %}#}
                        <div class="float-right text-right {% if deal.status == "dismissed" %} opacity-2 {% endif %}">
                            <span class="time-since small d-block">
                                {% if deal.createdAt|date("Y-m-d") == "NOW"|date("Y-m-d") %}
                                    {{ 'I dag'|trans }} {{ 'kl.'|trans }} {{ deal.createdAt|date("H:i") }}
                                {% else %}
                                    {% set _locale = app.request.locale|default('da') %}
                                    {{ deal.createdAt|format_datetime('medium', 'none', locale=_locale) }}
                                {% endif %}
                            </span>
                            <div class="d-block my-2">
                                {% if deal.image|default("") %}
                                    {% set image = "/uploads/deal/"~deal.image|default("") %}
                                    <img src="{{ image|imagine_filter("homefeed_profile_image") }}"
                                         alt="{{ deal.productName }}" class="img-fluid rounded"/>
                                {% endif %}
                            </div>
                            <a class="btn btn-secondary btn-sm show-deal float-right {% if app.user == deal.seller and deal.status == "new" %}show-accept{% endif %}"
                               data-dealuuid="{{ deal.uuid }}">{{ 'Vis info'|trans }}</a>
                        </div>
                        {% if deal.status == "dismissed" %}
                        <div class="d-inline-block opacity-2">
                            {% endif %}
                            <p><strong>{{ 'Status'|trans }}</strong>: {{ deal.status|trans }}</p>
                            {% if deal.dismissedAt %}
                                {% set _locale = app.request.locale|default('da') %}
                                <p><strong>{{ 'Annulleret'|trans }}</strong>: {{ deal.dismissedAt|format_datetime('medium', 'short', locale=_locale) }}</p>
                            {% elseif deal.acceptedAt %}
                                {% set _locale = app.request.locale|default('da') %}
                                <p><strong>{{ 'Accepteret'|trans }}</strong>: {{ deal.acceptedAt|format_datetime('medium', 'short', locale=_locale) }}</p>
                            {% endif %}
                            <p><strong>{{ opposite }}</strong>: {{ you.name|default("Slettet bruger") }}</p>
                            <p>
                                {% if deal.status == "new" %}
                                    <span class="unseen-dot" style="left: 7px; top:26px"></span>
                                {% endif %}
                                <strong>{{ 'Produkt'|trans }}</strong>: {{ deal.productName }}
                            </p>
                            <p><strong>{{ 'Pris'|trans }}</strong>: {{ deal.price|number_format }} <small>{{ deal.currency }}</small></p>
                            <p><strong>{{ 'Stand'|trans }}</strong>: {{ condition|trans }}</p>
                            <p><em>{{ deal.description|default("")|nl2br }}</em></p>

                            {% if deal.status == "dismissed" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}