{% extends("homefeed/base.html.twig") %}
{% trans_default_domain "homefeed" %}

{% set title = "Notifikationer" %}
{% block reviewForm %}{% endblock %}

{% block content %}
    <div class="row notifications-page">

        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">
            
            <div class="card card-headline">
                <div class="card-body">
                    <h4 class="card-title">{{ 'Alle'|trans~' '~'notifikationer'|trans }}</h4>
                </div>
            </div>

            {% for notification in notifications %}

                <div class="card">
                    <div class="card-body w-100">
                        <p>
                            {{ include('homefeed/include/card_time.html.twig', { entity: notification }) }}

                            {% if notification.type == "poke" %}
                                <i class="fas fa-hand-point-right"></i> {{ 'Du har fået et prik!'|trans }} <a href="{{ path('homefeed_profile', { slug: notification.fromUser.slug }) }}" class="btn btn-secondary btn-sm">{{ 'Se fra hvem'|trans }}</a>
                            {% elseif notification.type == "deal" %}
                                <i class="fas fa-handshake"></i> {{ 'Ny handelsanmodning'|trans }} <a href="#" class="btn btn-secondary btn-sm show-deal show-accept" data-dealuuid="{{ notification.deal.uuid }}">{{ 'Vis info'|trans }}</a>
                            {% elseif notification.type == "review" %}
                                <i class="fas fa-star-half-alt"></i> {{ 'Ny bedømmelse'|trans }} <a href="{{ path('homefeed_profile', { slug: app.user.slug }) }}" class="btn btn-secondary btn-sm">{{ 'Se den nu'|trans }}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}