{% if form is defined %}{% form_theme form 'bootstrap_4_layout.html.twig' %}{% endif %}
{% trans_default_domain "homefeed" %}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAV ICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/backend/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/backend/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/backend/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/backend/favicon/site.webmanifest') }}">

    {% block openGraph %}{% endblock %}

    <title>Safe2Trade | {{ title|default("")|trans }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('homefeed') }}
        <link rel="stylesheet" href="{{ asset('assets/common/css/select2.min.css') }}">
    {% endblock %}
</head>

<body class="{{ bodyClass|default("") }}">

<div class="container w-100 m-auto">

    <!-- Navigation -->
    {% if app.user %}

        <nav class="navbar navbar-icon-top navbar-expand-md p-0 fixed-top top-menu">

            <div class="container m-auto bg-white {#border-bottom#} py-2" style="max-width: 1370px; padding: 0 30px;">
                <a class="navbar-brand logo" href="{{ path('homefeed_index') }}">
                    <img src="{{ asset('assets/backend/images/logo.png') }}">
                </a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <div class="navbar-nav mr-auto d-block">
                        <form action="#" method="post" class="topsearch">
                            <select class="select2" id="q" name="topsearch">
                                <option>{{ 'Søg profiler'|trans }}</option>
                            </select>
                        </form>
                    </div>
                    <ul class="navbar-nav">

                        {# name #}
{#                        <li class="nav-item row d-md-none d-lg-flex">#}
                        <li class="nav-item d-none d-lg-none d-md-none d-xl-flex">
                            <div class="col col-auto">
                                <a href="{{ path('homefeed_profile', {'slug': app.user.slug }) }}">
                                    <img src="{{ app.user.profileImage|imagine_filter('top_menu_profile_image') }}" class="img-fluid rounded-circle profile-image">
                                </a>
                            </div>
                            <div class="col col-auto pl-0">
                                <a class="nav-link" href="{{ path('homefeed_profile', {'slug': app.user.slug }) }}">{{ app.user.name }}</a>
                            </div>
                        </li>
                        <li class="nav-item divider d-lg-none d-md-none d-xl-inline-block"></li>

                        {# start page #}
                        <li class="nav-item d-none d-lg-none d-md-none d-xl-inline-block">
                            <a class="nav-link" href="{{ path('homefeed_index') }}">{{ 'Startside'|trans }}</a>
                        </li>
                        <li class="nav-item divider d-lg-none d-md-none d-xl-inline-block"></li>

                        {# notifications #}
                        <li class="nav-item dropdown">
                            {{ render(controller("App\\Controller\\Homefeed\\HomefeedController::renderMenuNotifications")) }}
                        </li>

                        {# deals #}
                        <li class="nav-item dropdown">
                            {{ render(controller("App\\Controller\\Homefeed\\HomefeedController::renderMenuDeals")) }}
                        </li>

                        {# messages #}
                        <li class="nav-item dropdown">
                            {{ render(controller("App\\Controller\\Homefeed\\HomefeedController::renderMenuMessages")) }}
                        </li>

                        {# menu #}
                        <li class="nav-item dropdown no-min-width">
                            <a class="nav-link" href="#" id="navDropMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'Menu'|trans }}">
                                <i class="fas fa-bars"></i>
                                <span class="d-md-none">{{ 'Menu'|trans }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropMenu">
                                <a class="dropdown-item" href="{{ path('homefeed_profile', {'slug': app.user.slug }) }}">{{ 'Profil'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('homefeed_profile_settings', {'uuid': app.user.uuid}) }}">{{ 'Indstillinger'|trans }}</a>
                                <a class="dropdown-item" href="#" onclick="return false;" data-toggle="modal" data-target="#contactForm">{{ 'Kontakt support'|trans }}</a>

                                <div class="dropdown-divider d-xl-none"></div>
                                <a class="dropdown-item d-xl-none" href="{{ path('homefeed_index') }}">{{ 'Startside'|trans }}</a>
                                <a class="dropdown-item d-xl-none" href="{{ path('homefeed_profile', {'slug': app.user.slug }) }}">{{ app.user.name }}</a>

                                <div class="dropdown-divider"></div>
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    <a class="dropdown-item bg-danger text-white" href="{{ path('backend_admin_user_index', {'_log_in_as': '_exit'}) }}">{{ 'Forlad "Log ind som"'|trans }}</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_logout') }}" onclick="return confirm('{{ 'Er du sikker?'|trans }}');">{{ 'Log af'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top p-0 top-menu">

            <div class="container m-auto bg-white {#border-bottom#} py-2" style="max-width: 1370px; padding: 0 30px;">
                <a class="navbar-brand logo" href="/">
                    <img src="{{ asset('assets/backend/images/logo.png') }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto small">
                        <li class="nav-item"><a class="nav-link" href="{{ path('frontend_index') }}">Start</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://safe2trade.dk/personerne-bag/">Om Safe2Trade</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://safe2trade.dk/hjaelp-og-vejledning/">Hjælp og vejledning</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('frontend_signup_start') }}">Tilmeld dig</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://safe2trade.dk/presse/">Presse</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" onclick="return false;" data-toggle="modal" data-target="#contactForm">Kontakt</a></li>
                        <li class="nav-item mx-1"><a class="btn btn-light border text-sm rounded-0" href="{{ path('app_login') }}">Log ind</a></li>
                        <li class="nav-item ml-1"><a class="btn btn-primary text-sm rounded-0" href="{{ path('frontend_signup_start') }}">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}

    <!-- Page Content -->
    <div class="container-fluid page-content">

        <div class="container py-2">


            {% include('flashbag.html.twig') %}

            {% block content %}{% endblock %}

        </div>
    </div>

    {% block footer %}
        {% include('footer.html.twig') %}
    {% endblock %}

</div>

{% block contactForm %}
    {% include('homefeed/include/modal_contact_form.html.twig') %}
{% endblock %}

{% block dealForm %}
    {% include('homefeed/include/modal_deal.html.twig') %}
{% endblock %}

{% block reviewForm %}
    {% include('homefeed/include/modal_review_form.html.twig') %}
{% endblock %}

{% block newDealForm %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/common/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/bootstrap.4.5.3.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/select2.min.js') }}"></script>

    <script>

        window.addEventListener("keydown", function (event) {
            if (event.defaultPrevented) {
                return; // Do nothing if the event was already processed
            }

            switch (event.key) {
                case "Left": // IE/Edge specific value
                case "ArrowLeft":
                    // Do something for "left arrow" key press.

                    var modalVisible = $(".modal.image-gallery.show").length;
                    if (modalVisible > 0) {
                        $(".modal.show").find(".prev").trigger("click");
                    }
                    else {
                        return;
                    }

                    break;
                case "Right": // IE/Edge specific value
                case "ArrowRight":
                    // Do something for "right arrow" key press.

                    var modalVisible = $(".modal.image-gallery.show").length;
                    if (modalVisible > 0) {
                        $(".modal.show").find(".next").trigger("click");
                    }
                    else {
                        return;
                    }

                    break;
                default:
                    return;
            }

            // Cancel the default action to avoid it being handled twice
            event.preventDefault();
        }, true);


        $(function () {


            /**
             * Misc
             */
            $('[data-toggle="tooltip"]').tooltip();

            $(".are-you-sure").click(function(event) {
                return confirm("{{ 'Er du sikker?'|trans }}");
            });

            $(".blog-show-all").click(function (event) {
                event.preventDefault();
                $(this).closest(".card-text-preview").hide()
                $(this).closest("div").find(".card-text").show()
            });


            /**
             * Init
             */
            let uuid;
            let dealuuid;
            let form;
            let errors;

            let dealFormSuccess = $("#dealFormSuccess");
            let dealFormError = $("#dealFormError");
            let dealFormHeader = $("#dealFormHeader");
            let dealFormHeadline = $("#dealFormHeadline");
            let dealFormFooter = $("#dealFormFooter");
            let dealForm = $("#dealForm");
            let dealFormForm = $("#dealForm form");

            let reviewFormSuccess = $("#reviewFormSuccess");
            let reviewFormError = $("#reviewFormError");
            let reviewFormFooter = $("#reviewFormFooter");
            let reviewForm = $("#reviewForm");
            let reviewFormForm = $("#reviewForm form");

            /**
             * Poke
             */
            $(".poke").click(function (event) {
                event.preventDefault();
                uuid = $(this).attr("data-uuid");
                let _this = $(this);

                $.ajax({
                    type: "POST",
                    url: "{{ path('deal_form_poke') }}",
                    data: {
                        uuid: uuid
                    },
                    success: function (response) {
                        if (response.status === "success") {
                            $.when($(_this).fadeOut(500)).done(function () {
                                $(_this.closest("div").find("i.poked")).fadeIn(1000);
                            });
                        } else {
                            alert("{{ 'Der er sket en fejl'|trans }}");
                        }
                    }
                });
            });

            /**
             * Mark notifications as read/seen
             */
            $("#navDropNotify").click(function (event) {
                event.preventDefault();
                let _this = $(this);

                $.ajax({
                    type: "POST",
                    url: "{{ path('notifications_set_seen') }}",
                    data: {},
                    success: function (response) {
                        if (response.status === "success") {
                            _this.find("i .badge").hide();
                        }
                    }
                });
            });

            /**
             * Upload temp image
             */
            $("input#deal_image, input#review_image").change(function (event) {
                let url;
                let _this = $(this);
                if ($(this).attr("id") === "review_image") {
                    form = document.getElementById("review_form");
                    url = "{{ path('deal_form_upload_tmp_image',{'form': 'review'}) }}";
                } else {
                    form = document.getElementById("deal_form");
                    url = "{{ path('deal_form_upload_tmp_image',{'form': 'deal'}) }}";
                }

                $.ajax({
                    url: url,
                    data: new FormData(form),
                    type: "post",
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: "json",
                    success: function (response) {

                        if (response.status === "success") {

                            //show image
                            let html = '<img src="' + response.src + '" style="max-height: 200px; max-width: 200px;">';
                            _this.closest(".image-input").find(".image-holder").html(html);
                        }
                    }
                });
            });

            /**
             * Show deal
             */
            $(".show-deal").click(function (event) {
                event.preventDefault();
                dealuuid = $(this).attr("data-dealuuid");
                let _this = $(this);

                if (_this.hasClass("show-accept")) {
                    dealFormHeadline.html("{{ 'Handelsanmodning'|trans }}");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('deal_form_get_model_accept_footer') }}",
                        data: {
                            dealuuid: dealuuid
                        },
                        success: function (response) {
                            dealFormFooter.html(response.html);
                            dealFormFooter.show();
                        }
                    });
                }
                else {
                    dealFormHeadline.html("{{ 'Handelsinformation'|trans }}");
                    dealFormFooter.hide();
                }

                $.ajax({
                    type: "POST",
                    url: "{{ path('deal_form_get_deal') }}",
                    data: {
                        dealuuid: dealuuid
                    },
                    success: function (response) {
                        if (response.status === "success") {

                            //show deal info on modal
                            dealFormForm.html(response.html);

                            //edit uuid on accept and dismiss buttons
                            if (_this.hasClass("show-accept")) {
                                $("#dealFormAccept").attr("data-dealuuid", response.uuid);
                                $("#dealFormDismiss").attr("data-dealuuid", response.uuid);
                            }

                            dealForm.modal('show');
                        } else {
                            dealFormError.html("{{ 'Der er sket en fejl'|trans }}");
                            dealFormError.fadeIn();
                        }
                    }
                });
            });

            /**
             * Accept deal
             */
            $("#dealForm").on("click", "#dealFormAccept", function (event) {
                event.preventDefault();
                dealuuid = $(this).attr("data-dealuuid");
                $.ajax({
                    type: "POST",
                    url: "{{ path('deal_form_accept_deal') }}",
                    data: {
                        dealuuid: dealuuid
                    },
                    success: function (response) {
                        if (response.status === "success") {
                            dealFormSuccess.html("{{ 'Handelsanmodning accepteret!'|trans }}");
                            dealFormFooter.hide();
                            dealFormSuccess.fadeIn();
                            setTimeout(function () {
                                dealFormFooter.show();
                                dealFormSuccess.fadeOut();
                                dealForm.modal('hide');
                                $("#uuid-" + dealuuid).fadeOut("slow");

                                //reload
                                window.location.reload();
                            }, 3000);
                        } else {
                            dealFormError.html("{{ 'Der er sket en fejl'|trans }}");
                            dealFormError.fadeIn();
                        }
                    }
                });
            });

            /**
             * Dismiss deal
             */
            $("#dealForm").on("click", "#dealFormDismiss", function (event) {
                event.preventDefault();
                dealuuid = $(this).attr("data-dealuuid");
                $.ajax({
                    type: "POST",
                    url: "{{ path('deal_form_dismiss_deal') }}",
                    data: {
                        dealuuid: dealuuid
                    },
                    success: function (response) {
                        if (response.status === "success") {
                            dealFormSuccess.html("{{ 'Handelsanmodning afvist!'|trans }}");
                            dealFormFooter.hide();
                            dealFormSuccess.fadeIn();
                            setTimeout(function () {
                                dealFormFooter.show();
                                dealFormSuccess.fadeOut();
                                dealForm.modal('hide');
                                $("#newDealUuid-" + dealuuid).fadeOut("slow");
                            }, 3000);
                        } else {
                            dealFormError.html("{{ 'Der er sket en fejl'|trans }}");
                            dealFormError.fadeIn();
                        }
                    }
                });
            });

            /**
             * Show review modal
             */
            $(".show-review-form").click(function (event) {
                event.preventDefault();

                uuid = $(this).attr("data-uuid");

                $("#review_dealuuid").val(uuid);

                let sellerName = $(this).attr("data-seller-name");
                $("#review-headline-name").html(sellerName);

            });

            /**
             * Edit review modal - get form data
             */
            $(".edit-review").click(function (event) {
                event.preventDefault();

                let uuid = $(this).attr("data-uuid");

                $("#review_dealuuid").val(uuid);

                let sellerName = $(this).attr("data-seller-name");
                $("#review-headline-name").html(sellerName);

                //get exiting review?
                $.ajax({
                    type: "POST",
                    url: "{{ path('form_get_review_to_edit') }}",
                    data: {
                        uuid: uuid
                    },
                    success: function (response) {
                        if (response.status === "success") {
                            $("#reviewFormContent").html(response.html);
                        }
                        else {
                            dealFormError.html("{{ 'Der er sket en fejl'|trans }}");
                            dealFormError.fadeIn();
                        }
                    }
                });
            });

            /**
             * Submit review
             */
            $("#createReview").click(function (event) {
                event.preventDefault();
                uuid = $("#review_dealuuid").val();
                errors = false;

                //rating
                if ($("#review_rating input:checked").length < 1) {
                    errors = true;
                    $("#review_rating").addClass("error");
                } else {
                    $("#review_rating").removeClass("error");
                }

                //headline
                if ($("#review_headline").val().trim() === "") {
                    errors = true;
                    $("#review_headline").addClass("error");
                } else {
                    $("#review_headline").removeClass("error");
                }

                //text
                if ($("#review_comment").val().trim() === "") {
                    errors = true;
                    $("#review_comment").addClass("error");
                } else {
                    $("#review_comment").removeClass("error");
                }

                if (!errors) {
                    reviewFormFooter.hide();
                    form = document.getElementById("review_form");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('review_form_create_review') }}",
                        processData: false,
                        contentType: false,
                        data: new FormData(form),
                        success: function (response) {
                            if (response.status === "success") {
                                reviewFormSuccess.html("{{ 'Mange tak! Din bedømmelse er gemt.'|trans }}");
                                reviewFormSuccess.fadeIn();

                                //reload
                                setTimeout(function () {
                                    window.location.reload();
                                }, 3000);
                            }
                            else {
                                reviewFormError.html("{{ 'Der er sket en fejl'|trans }}");
                                reviewFormError.fadeIn();
                                reviewFormFooter.show();
                            }
                        }
                    });
                }
            });

            /**
             * Submit contact form
             */
            $("#contactFormSubmit").click(function (event) {
                event.preventDefault();

                let contactForm = $("#contactForm");
                let contactFormFooter = $("#contactFormFooter");
                let email = $("#contactFormEmail");
                let subject = $("#contactFormSubject");
                let text = $("#contactFormText");

                errors = false;

                //email
                let regexAt = /@/;
                if (!regexAt.test(email.val())) {
                    errors = true;
                    email.addClass("error");
                } else {
                    email.removeClass("error");
                }

                //subject
                if (subject.val() === "none") {
                    errors = true;
                    subject.addClass("error");
                } else {
                    subject.removeClass("error");
                }

                //text
                if (text.val().trim() === "") {
                    errors = true;
                    text.addClass("error");
                } else {
                    text.removeClass("error");
                }

                if (!errors) {

                    contactFormFooter.hide();

                    $.ajax({
                        type: "POST",
                        url: "{{ path('contact_form_create_inquery') }}",
                        data: {
                            email: email.val(),
                            subject: subject.val(),
                            text: text.val(),
                        },
                        success: function (response) {
                            if (response.status === "success") {
                                $("#contactFormSuccess").fadeIn();
                                setTimeout(function () {
                                    $("#contactFormSuccess").fadeOut();
                                    contactForm.modal('hide');
                                    contactFormFooter.show();
                                    email.val("");
                                    text.val("");
                                }, 3000);
                            }
                        }
                    });
                }
            });

            $('#q').select2({
                ajax: {
                    url: '{{ path('homefeed_search') }}',
                    dataType: 'json'
                },
                minimumInputLength: 2,
                language: {
                    noResults: function () {
                        return "{{ 'Ingen resultater fundet'|trans }}";
                    },
                    inputTooShort: function (data) {
                        var n = data.minimum - data.input.length;
                        return "{{ 'Angiv venligst'|trans }} " + n + " {{ 'tegn mere'|trans }}";
                    },
                    inputTooLong: function (data) {
                        var n = data.input.length - data.maximum;
                        return "{{ 'Angiv venligst'|trans }} " + n + " {{ 'tegn mindre'|trans }}";
                    },
                    selectionTooBig: function (limit) {
                        return "{{ 'Du kan kun vælge'|trans }} " + limit + " {{ 'emne'|trans }}" + (limit === 1 ? "" : "{{ 'r'|trans }}");
                    },
                    LoadMore: function (pageNumber) {
                        return "{{ 'Indlæser flere resultater'|trans }}…";
                    },
                    searching: function () {
                        return "{{ 'Søger'|trans }}…";
                    }
                },
                templateResult: formatDesign,
            });

            function formatDesign(item) {

                if (item.children) {
                    return "";
                    // return $('<strong>' + item.text + '</strong>')
                    // } else if (item.type === "deal") {
                    //     let selectionText = item.text.split("|||");
                    //     return $('<span class="deal"><strong>' + selectionText[0] + '</strong> ' + selectionText[1] + '<small class="select2-small-info">' + selectionText[2] + '</small></span>');
                }
                else if (item.type === "customer") {
                    // let selectionText = item.text.split("|||");
                    // return $('<span class=customer"><strong>' + selectionText[0] + '</strong> ' + selectionText[1] + '</span>');
                    return $('<span class=customer"><img src="' + item.image + '" style="width: 35px;" class="mr-2 rounded-circle"><strong>' + item.text + '</strong></span>');
                }
                else {
                    return $('<span>' + item.text + '</span>')
                }

            };

            $('#q').on('select2:select', function (e) {
                var data = e.params.data;
                window.location.href = data.url;
            });
        });

    </script>
{% endblock %}
</body>
</html>
