{% extends("homefeed/base.html.twig") %}
{% trans_default_domain "homefeed" %}
{% set title = "Homefeed" %}

{% block content %}
    <div class="row homefeed">
        <div class="col-12 col-lg-2 mb-5">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-title">
                        <a href="{{ path('homefeed_profile', {'slug': app.user.slug }) }}">{{ app.user.name }}</a>
                    </p>
                    <div class="mb-2" style="height: 100px;">
                        <a href="{{ path('homefeed_profile', {'slug': app.user.slug }) }}">
                            <img src="{{ app.user.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                        </a>
                    </div>
{#                    {% set rating = app.user.rating|default(0) %}#}
                    {% set rating = 5 %}
                    <div class="star-score star-score-small" style="--rating: {{ rating }};" aria-label="{{ rating }}"></div>
                    <small class="d-block">{{ 'Baseret på'|trans~' ('~ app.user.toReview|length ~')' }} {% if app.user.toReview|length == 1 %}{{ 'anmeldelse'|trans }}{% else %}{{ 'anmeldelser'|trans }}{% endif %}</small>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5 homefeed-blog d-none d-md-inline-block">
            {% for blog in blogs %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ blog.headline }}
                        </h4>
                        {{ include('homefeed/include/card_time.html.twig', { entity: blog }) }}
                        {% if blog.image %}
                            {% set image = '/uploads/blog/'~blog.image %}
                            <div class="mb-4">
{#                                <img class="img-fluid rounded" src="{{ image|imagine_filter('blog_image_big') }}" alt="">#}
                                <img class="img-fluid rounded w-100" src="{{ blog.image }}" alt="">
                            </div>
                        {% endif %}
                        <p class="card-text" style="display:none;">{{ blog.text|default("")|raw|nl2br }}</p>
                        <p class="card-text-preview">{{ blog.text|default("")|raw|slice(0,580)|nl2br }}
                            {% if blog.text|default("")|trim|length > 580 %}
                                ... <a href="#" class="blog-show-all float-rightl">{{ 'Læs mere'|trans }}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-lg-4">
            <div class="card card-headline">
                <div class="card-body">
                    <h4 class="card-title position-relative d-inline-block">
                        {% if newDeals|length > 0 %}
                            {{ 'Handelsanmodninger'|trans }}
                        {% else %}
                            {{ 'Ingen handelsanmodninger'|trans }}
                        {% endif %}
                        <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle point-down position-absolute" style="right: -45px; top: -5px;">
                    </h4>
                </div>
            </div>

            {% for newDeal in newDeals %}
                <div class="card card-new-deal" id="newDealUuid-{{ newDeal.uuid }}">
                    <div class="card-body text-right">
                        {{ include('homefeed/include/card_time.html.twig', { entity: newDeal }) }}
                        <div class="row">
                            <div class="col-2 pr-0">
                                <div class="mb-2">
                                    {% if newDeal.buyer == app.user %}
                                        <a href="{{ path('homefeed_profile', {'slug': newDeal.seller.slug }) }}">
                                            <img src="{{ newDeal.seller.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                        </a>
                                    {% else %}
                                        <a href="{{ path('homefeed_profile', {'slug': newDeal.buyer.slug }) }}">
                                            <img src="{{ newDeal.buyer.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-10 text-left">
                                {% if newDeal.buyer == app.user %}
                                    <h5><a href="{{ path('homefeed_profile', {slug: newDeal.seller.slug}) }}">{{ newDeal.seller.name|default("Slettet bruger") }}</a></h5>
                                    <p>{{ 'Du har sendt en handelsanmodning'|trans }}</p>
                                    <span class="btn btn-secondary btn-sm no-pointer" data-toggle="tooltip" data-placement="top" title="{{ 'Afventer sælgers accept'|trans }}" onclick="alert('{{ 'Afventer sælgers accept'|trans }}');">{{ 'Afventer'|trans }}</span>
                                    <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': newDeal.uuid}) }}" class="btn btn-primary btn-sm" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Annuller'|trans }}</a>
                                {% else %}
                                    <h5><a href="{{ path('homefeed_profile', {slug: newDeal.buyer.slug}) }}">{{ newDeal.buyer.name|default("Slettet bruger") }}</a></h5>
                                    <p>{{ 'Har sendt en handelsanmodning'|trans }}</p>
                                    <a href="#" class="btn btn-primary btn-sm show-deal show-accept" data-dealuuid="{{ newDeal.uuid }}">{{ 'Besvar'|trans }}</a>
                                {% endif %}
                                <a href="#" class="show-deal" data-dealuuid="{{ newDeal.uuid }}">{{ 'Vis info'|trans }}</a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

            <div class="card card-headline mt-5">
                <div class="card-body">
                    <h4 class="m-0 position-relative d-inline-block">
                        {% if currentDeals|length > 0 %}
                            {{ 'Igangværende handler'|trans }}
                        {% else %}
                            {{ 'Ingen igangværende handler'|trans }}
                        {% endif %}
                        <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle point-down position-absolute" style="right: -45px; top: -5px;">
                    </h4>
                </div>
            </div>

            {# @var entity \App\Entity\Deal #}
            {% for currentDeal in currentDeals %}
                <div class="card card-current-deal" id="currentDealUuid-{{ currentDeal.uuid }}">
                    <div class="card-body text-right">
                        {{ include('homefeed/include/card_time.html.twig', { entity: currentDeal, datetime: currentDeal.acceptedAt }) }}
                        <div class="row">
                            <div class="col-6 text-center position-relative">
                                <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle position-absolute point-left" style="right: -18px; top: 62px;">
                                <p class="mt-2 mb-0">{{ 'KØBER'|trans }}</p>
                                <div class="mb-2" style="height: 100px;">
                                    <a href="{{ path('homefeed_profile', {'slug': currentDeal.buyer.slug }) }}">
                                        <img src="{{ currentDeal.buyer.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                    </a>
                                </div>
                                <h5><a href="{{ path('homefeed_profile', {slug: currentDeal.buyer.slug}) }}">{{ currentDeal.buyer.name|default("Slettet bruger") }}</a></h5>
                                {% if currentDeal.buyer == app.user %}
                                    <a class="btn btn-primary btn-sm show-review-form" id="uuid-{{ currentDeal.uuid }}" data-uuid="{{ currentDeal.uuid }}" data-seller-name="{{ currentDeal.seller.name|default("Slettet bruger") }}" data-toggle="modal" data-target="#reviewForm">{{ 'Afslut og bedøm'|trans }}</a>
                                    <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': currentDeal.uuid}) }}" class="btn btn-danger btn-sm mt-2" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Afbryd handel'|trans }}</a>
                                {% else %}
                                    {% if currentDeal.buyer.id not in pokedUsers %}
                                        <a class="btn btn-primary btn-sm poke" id="uuid-{{ currentDeal.buyer.uuid }}" data-uuid="{{ currentDeal.buyer.uuid }}">{{ 'Prik'|trans }}</a>
                                        <i class="fas fa-check-circle poked success"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-6 text-center">
                                <p class="mt-2 mb-0">{{ 'SÆLGER'|trans }}</p>
                                <div class="mb-2" style="height: 100px;">
                                    <a href="{{ path('homefeed_profile', {'slug': currentDeal.seller.slug }) }}">
                                        <img src="{{ currentDeal.seller.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                    </a>
                                </div>
                                <h5><a href="{{ path('homefeed_profile', {slug: currentDeal.seller.slug}) }}">{{ currentDeal.seller.name|default("Slettet bruger") }}</a></h5>
                                <p>{{ 'AFVENTER KØBER'|trans }}</p>
                                {% if currentDeal.acceptedAt|date("Ymd") < "-45 day"|date("Ymd") %}
                                    <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': currentDeal.uuid}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Annuller'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="#" class="show-deal" data-dealuuid="{{ currentDeal.uuid }}">{{ 'Vis info'|trans }}</a>
                    </div>
                </div>
            {% endfor %}

            <div class="mt-5 mb-5 homefeed-blog d-md-none">
                {% for blog in blogs %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ blog.headline }}
                            </h4>
                            {{ include('homefeed/include/card_time.html.twig', { entity: blog }) }}
                            {% if blog.image %}
                                {% set image = '/uploads/blog/'~blog.image %}
                                <div class="mb-4">
{#                                    <img class="img-fluid rounded" src="{{ image|imagine_filter('blog_image_big') }}" alt="">#}
                                    <img class="img-fluid rounded w-100" src="{{ blog.image }}">
                                </div>
                            {% endif %}
                            <p class="card-text" style="display:none;">{{ blog.text|default("")|nl2br }}</p>
                            <p class="card-text-preview">{{ blog.text|default("")|slice(0,580)|nl2br }}
                                {% if blog.text|default("")|trim|length > 580 %}
                                    ... <a href="#" class="blog-show-all float-rightl">{{ 'Læs mere'|trans }}</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
