{% extends("homefeed/base.html.twig") %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
{% trans_default_domain "homefeed" %}

{% set title = user.name|default("Slettet bruger") %}
{% block reviewForm %}{% endblock %}

{% block content %}

    <div class="row messages">

        <div class="col-lg-9">
            <div class="card card-messages mb-5">
                <div class="card-body" id="messages">
                    {% if messages %}
                        {% for message in messages %}
                            {{ include('homefeed/include/message.html.twig') }}
                        {% endfor %}
                    {% else %}
                        <small class="d-block text-center"><em>{{ 'Der er ingen tidligere beskeder. Du kan skrive den første besked til'|trans }} <strong>{{ user.name|default("Slettet bruger") }}</strong></em></small>
                    {% endif %}
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    {{ form_start(form,{'attr': {'id': 'message_form'}}) }}
                        <input type="hidden" name="lastUpdated" id="lastUpdated" value="{{ "now"|date("Y-m-d H:i:s") }}" />
                        {{ form_widget(form) }}
                        <button class="btn btn-primary float-right send-button">{{ 'Send'|trans }} <i class="fas fa-paper-plane"></i></button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-main mb-5">
                <div class="card-body">
                    <div class="d-block w-100 text-center mb-3">
                        <a href="{{ path('homefeed_messages_overview') }}" class="btn btn-light border btn-sm">&larr;{{ 'Tilbage til Beskeder'|trans }}</a>
                    </div>
                    <h5 class="mb-4 text-center">
                        {% if user.slug %}
                            <a href="{{ path('homefeed_profile', {slug: user.slug}) }}">{{ user.name|default("Slettet bruger") }}</a>
                        {% endif %}
                    </h5>
                    <div class="mb-2 text-center">
                        <img src="{{ user.profileImage|imagine_filter('profile_image') }}" class="img-fluid rounded-circle mb-2" data-toggle="modal" data-target="#profileImageModal">
                    </div>

                    <!-- Profile image modal -->
                    <div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content bg-transparent border-0">
                                <div class="modal-body text-center ">
                                    <img src="{{ user.profileImage }}" style="max-width: 700px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            scrollToBottom();

            setInterval(updateMessages, (1000 * 3));

            let code;
            $('#message_text').bind('keypress', function (event) {
                code = event.keyCode || event.which;
                if (code === 13) {
                    event.preventDefault();
                    sendMessage();
                }
            });

            $(".send-button").click(function (event) {
                event.preventDefault();
                sendMessage();
            });
        });

        let text;
        function sendMessage() {
            let form = document.getElementById("message_form");
            let textarea = $('#message_text');
            text = textarea.val();

            $.ajax({
                type: "POST",
                url: "{{ path('homefeed_messages_send_message', {uuid: user.uuid }) }}",
                data: new FormData(form),
                contentType: false,
                processData: false,
                cache: false,
                dataType: "json",
                success: function (response) {
                    if (response.status === "success") {
                        $("#messages").append(response.html);
                        textarea.val("");
                        scrollToBottom();
                    }
                }
            });
        }

        function scrollToBottom() {
            $("#messages").animate({ scrollTop: $('#messages').prop("scrollHeight")}, 250);
        }

        function updateMessages() {

            console.log("update");

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "{{ path('homefeed_messages_get_new', {uuid: user.uuid }) }}",
                data: {
                    lastUpdated: $("#lastUpdated").val()
                },
                success: function (response) {
                    if (response.status === "success") {
                        $("#messages").append(response.html);
                        scrollToBottom();
                    }
                    $("#lastUpdated").val(response.lastUpdated);
                }
            });
        }

    </script>
{% endblock %}
