{% extends("homefeed/base.html.twig") %}
{% trans_default_domain "homefeed" %}

{% set title = "Beskeder" %}
{% block reviewForm %}{% endblock %}

{% block content %}
    <div class="row notifications-page">

        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">

            <div class="card card-headline">
                <div class="card-body">
                    <h4 class="card-title">{{ 'Alle'|trans~' '~'beskeder'|trans }}</h4>
                </div>
            </div>

            {# @var latestMessage \App\Entity\Message #}
            {% for latestMessage in messages %}

                {% set otherUser = latestMessage.fromUser %}
                {% if latestMessage.fromUser == app.user %}
                    {% set otherUser = latestMessage.toUser %}
                {% endif %}

                <div class="card">
                    <a href="{{ path('homefeed_messages', {uuid: otherUser.uuid}) }}" class="card-body no-style w-100">
                        <p>
                            {% if not latestMessage.seen and latestMessage.fromUser != app.user %}
                                <span class="unseen-dot"></span>
                            {% endif %}

                            {{ include('homefeed/include/card_time.html.twig', { entity: latestMessage }) }}
                            <img src="{{ otherUser.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle">
                            <span>{{ otherUser.name|default("Slettet bruger") }}</span>
                            <em class="sample">
                                {% if latestMessage.fromUser == app.user %}
                                    {{ 'Mig'|trans }}:
                                {% endif %}
                                {{ latestMessage.text|slice(0, 100) }}{% if latestMessage.text|trim|length > 100 %}...{% endif %}
                            </em>
                        </p>
                    </a>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}



{#{% block content %}#}

{#    <div class="row settings">#}

{#        <div class="col-lg-8"></div>#}

{#        <div class="col-lg-4">#}
{#            <div class="card card-headline">#}
{#                <div class="card-body">#}
{#                    <h4 class="m-0">{{ 'Beskeder'|trans }}</h4>#}
{#                </div>#}
{#            </div>#}

{#            {% if messages %}#}

{#                #}{# @var latestMessage \App\Entity\Message #}
{#                {% for latestMessage in messages %}#}

{#                    <div class="card card-main card-message-overview mb-5">#}
{#                        <div class="card-body">#}
{#                            <div class="mt-2">#}
{#                                <a href="{{ path('homefeed_messages', {uuid: latestMessage.fromUser.uuid}) }}" class="dropdown-item">#}
{#                                    {% if not latestMessage.seen %}#}
{#                                        <span class="unseen-dot">NY</span>#}
{#                                    {% endif %}#}
{#                                    <p>#}
{#                                        <img src="{{ latestMessage.fromUser.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle">#}
{#                                        <span>{{ latestMessage.fromUser.name|default("Slettet bruger") }}</span>#}
{#                                        <span class="time-since float-right">#}
{#                                            {% if latestMessage.createdAt|date("Y-m-d") == "NOW"|date("Y-m-d") %}#}
{#                                                {{ 'I dag'|trans }} {{ 'kl.'|trans }} {{ latestMessage.createdAt|date("H:i") }}#}
{#                                            {% else %}#}
{#                                                {{ latestMessage.createdAt|format_datetime('medium', 'none', locale=_locale) }}#}
{#                                            {% endif %}#}
{#                                        </span>#}
{#                                        <span class="time-since sample">{{ latestMessage.text|slice(0, 100) }}{% if latestMessage.text|trim|length > 100 %}...{% endif %}</span>#}

{#                                    </p>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                {% endfor %}#}

{#            {% else %}#}
{#                <p class="pl-3">{{ 'Ingen beskeder'|trans }}</p>#}

{#                <div class="card card-main mb-5">#}
{#                    <div class="card-body">#}
{#                        <div class="mt-2">#}
{#                            <h2 class="mb-4">GDPR</h2>#}
{#                            <p>{{ 'Hent alle dine data. Bl.a. personlige oplysninger, beskeder, handler, bedømmelser, m.v.'|trans }}</p>#}
{#                            <a href="{{ path('homefeed_settings_export_data', {uuid: app.user.uuid}) }}" class="btn btn-secondary btn-sm d-block">Eksportér min data</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}

{#        </div>#}

{#    </div>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script>#}
{#        $(function () {#}

{#            $("form#profileImageForm input#form_image").change(function (event) {#}
{#                $("form#profileImageForm").submit();#}
{#            });#}

{#        });#}
{#    </script>#}
{#{% endblock %}#}
