{% extends("homefeed/profile.html.twig") %}
{% trans_default_domain "homefeed" %}

{% block profileEditImage %}
    <a href="#" onclick="$('#profileImageForm input#form_image').click(); return false;" class="edit-settings"><i class="fas fa-pen"></i></a>
    {{ form(formProfileImage, {'attr':{'id':'profileImageForm'}}) }}
{% endblock %}

{% block profileDealButton %}{% endblock %}

{% block profileInfo %}
    <div class="info">
        <ul>
            <li><i class="fas fa-home"></i><span><a href="https://www.google.dk/maps/place/{{ user.address }} {{ user.zip }} {{ user.city }}" target="_blank" title="Åben i Google Maps">{{ user.address }}, {{ user.zip }} {{ user.city }}</a></span></li>
            <li><i class="fas fa-mobile-alt"></i><span><a href="tel:{{ user.phone }}">{{ user.phone }}</a></span></li>
            <li><i class="far fa-envelope"></i><span><a href="mailto:{{ user.email }}">{{ user.email }}</a></span></li>
            {% set _locale = app.request.locale|default('da') %}
            <li><i class="fas fa-calendar-alt"></i><span>{{ user.birthday|format_datetime('medium', 'none', locale=_locale) }}</span></li>
        </ul>
        <a href="{{ path('homefeed_profile_settings', {'uuid': user.uuid}) }}" class="edit-settings"><i class="fas fa-pen"></i></a>
    </div>
{% endblock %}

{% block profileSocialMedia %}
    {% if user.someFacebook or user.someTwitter or user.someInstagram or user.someLinkedIn %}
        <div class="so-me">
            <ul>
                {% if user.someFacebook %}
                    <li><a href="{{ user.someFacebook }}" class="facebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                {% endif %}
                {% if user.someTwitter %}
                    <li><a href="{{ user.someTwitter }}" class="twitter" title="Twitter" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
                {% endif %}
                {% if user.someInstagram %}
                    <li><a href="https://www.instagram.com/{{ user.someInstagram }}" class="instagram" title="Instagram" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
                {% endif %}
                {% if user.someLinkedIn %}
                    <li><a href="{{ user.someLinkedIn }}" class="linkedin" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                {% endif %}
            </ul>
{#            {% if user.someFacebook or user.someTwitter or user.someInstagram or user.someLinkedIn %}#}
{#                <a href="{{ path('homefeed_profile_settings', {'uuid': user.uuid}) }}" class="edit-settings"><i class="fas fa-pen"></i></a>#}
{#            {% endif %}#}
        </div>
    {% endif %}
{% endblock %}

{% block profileReviewHeadline %}
    {% if reviews %}
        {% trans %}Hvad siger køberne?{% endtrans %}
    {% else %}
        {% trans %}Ingen anmeldelser endnu{% endtrans %}
    {% endif %}
{% endblock %}

{% block newDeals %}
    <div class="card card-headline mt-5 mt-md-0">
        <div class="card-body">
            <h4 class="card-title position-relative d-inline-block">
                {% if newDeals|length > 0 %}
                    {{ 'Handelsanmodninger'|trans }}
                {% else %}
                    {{ 'Ingen handelsanmodninger'|trans }}
                {% endif %}
                <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle point-down position-absolute" style="right: -45px; top: -5px;">
            </h4>

        </div>
    </div>

    {% for newDeal in newDeals %}
        <div class="card card-new-deal" id="newDealUuid-{{ newDeal.uuid }}">
            <div class="card-body text-right">
                {{ include('homefeed/include/card_time.html.twig', { entity: newDeal }) }}
                <div class="row">
                    <div class="col-2 col-md-3 col-lg-2 pr-0">
                        <div class="mb-2">
                            {% if newDeal.buyer == app.user %}
                                <a href="{{ path('homefeed_profile', {'slug': newDeal.seller.slug }) }}">
                                    <img src="{{ newDeal.seller.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                </a>
                            {% else %}
                                <a href="{{ path('homefeed_profile', {'slug': newDeal.buyer.slug }) }}">
                                    <img src="{{ newDeal.buyer.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-10 col-md-9 col-lg-10 text-left">
                        {% if newDeal.buyer == app.user %}
                            <h5><a href="{{ path('homefeed_profile', {slug: newDeal.seller.slug}) }}">{{ newDeal.seller.name|default("Slettet bruger") }}</a></h5>
                            <p>{{ 'Du har sendt en handelsanmodning'|trans }}</p>
                            <span class="btn btn-secondary btn-sm no-pointer" data-toggle="tooltip" data-placement="top" title="{{ 'Afventer sælgers accept'|trans }}" onclick="alert('{{ 'Afventer sælgers accept'|trans }}');">{{ 'Afventer'|trans }}</span>
                            <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': newDeal.uuid, 'useruuid': app.user.uuid}) }}" class="btn btn-primary btn-sm" onclick="return confirm('{{ 'Er du sikker på at du vil annuller handlen?'|trans }}');">{{ 'Annuller'|trans }}</a>
                        {% else %}
                            <h5><a href="{{ path('homefeed_profile', {slug: newDeal.buyer.slug}) }}">{{ newDeal.buyer.name|default("Slettet bruger") }}</a></h5>
                            <p>{{ 'Har sendt en handelsanmodning'|trans }}</p>
                            <a href="#" class="btn btn-primary btn-sm show-deal show-accept" data-dealuuid="{{ newDeal.uuid }}">{{ 'Besvar'|trans }}</a>
                        {% endif %}
                        <a href="#" class="show-deal" data-dealuuid="{{ newDeal.uuid }}">{{ 'Vis info'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

