{% extends("homefeed/base.html.twig") %}
{% trans_default_domain "homefeed" %}

{% set title = user.name|default("Slettet bruger") %}

{% block openGraph %}
    {% set starWord = "stjerner" %}
    {% if user.rating|default(0) > 0 and user.rating|default(0) < 2 %}
        {% set starWord = "stjerne" %}
    {% endif %}

    <meta property="og:title" content="{{ user.name|default("Safe2Trade") }}" />
    <meta property="og:description" content="{{ 'Købernes gennemsnitlige bedømmelse'|trans~": "~user.rating|default(0)~" "~starWord|trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ app.request.server.get("HTTP_HOST") }}{{ path('homefeed_profile', {slug: user.slug}) }}/" />
    <meta property="og:image" content="{{ user.profileImage|imagine_filter('profile_image') }}" />
{% endblock %}

{% block content %}
    <div class="row profile-page">

        <div class="col-lg-8">
            <div class="card card-main mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2">

                            <div class="mb-2 position-relative rounded-circle profile-image" data-toggle="modal" data-target="#profileImageModal_0" style="background-image: url('{{ user.profileImage|imagine_filter('profile_image') }}');">
                                {% block profileEditImage %}{% endblock %}
                            </div>

                            {% for key, image in user.ImagesFeaturedFirst %}
                                {% set prevKey = key - 1 %}
                                {% set nextKey = key + 1 %}
                                {% if key == 0 %} {% set prevKey = (user.images|length -1) %} {% endif %}
                                {% if key == (user.images|length -1) %} {% set nextKey = 0 %} {% endif %}

                                <div class="modal image-gallery" id="profileImageModal_{{ key }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Kontaktformular'|trans }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content bg-transparent border-0">
                                            <div class="modal-body text-center">
                                                <p class="text-center">
                                                    <img src="{{ image.path }}" style="max-width: 700px;">
                                                </p>
                                                {% if user == app.user %}
                                                    <p class="text-center">
                                                        <a href="{{ path('homefeed_feature_image', {uuid: image.uuid}) }}" class="btn btn-primary btn-sm d-inline-block are-you-sure mr-2">{{ 'Sæt som standard'|trans }}</a>
                                                        <a href="{{ path('homefeed_settings_delete_image', {uuid: image.uuid}) }}" class="btn btn-danger btn-sm d-inline-block are-you-sure">{{ 'Slet billede'|trans }}</a>
                                                    </p>
                                                {% endif %}
                                                {% if user.images|length > 1%}
                                                    <a href="#profileImageModal_{{ prevKey }}" data-toggle="modal" data-dismiss="modal" class="prev"><i class="fas fa-angle-left"></i></a>
                                                    <a href="#profileImageModal_{{ nextKey }}" data-toggle="modal" data-dismiss="modal" class="next"><i class="fas fa-angle-right"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-10">
                            <h4 class="card-title">{{ user.name|default("Slettet bruger") }}</h4>
                            <div class="star-score" style="--rating: {{ user.rating|default(0) }};" aria-label="{{ user.rating|default(0) }}">
                                {% if user.rating|default(0) > 0 %}
                                    <small class="number">{{ user.rating|default(0) }}</small>
                                {% endif %}
                            </div>
                            <p>
                                <small>{{ 'Baseret på'|trans~' ('~ reviews|length ~')' }} {% if reviews|length == 1 %}{{ 'anmeldelse'|trans }}{% else %}{{ 'anmeldelser'|trans }}{% endif %}</small>
                            </p>
                            {% block profileDealButton %}
                                {% if app.user %}
                                    {% if dealWithThisProfile and dealWithThisProfile.status != "dismissed" %}
                                        {% if dealWithThisProfile.status == "new" %}
                                            <p>
                                                <a class="btn btn-primary btn-sm" href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': dealWithThisProfile.uuid, 'useruuid': user.uuid}) }}" onclick="return confirm('{{ 'Er du sikker på at du vil annuller?'|trans }}');">{{ 'Annuller anmodning'|trans }}</a>
                                            </p>
                                        {% elseif dealWithThisProfile.status == "completed" %}
                                            <p>
                                                <span class="btn btn-primary btn-sm" onclick="alert('{{ 'Det er ikke muligt at anmode om ny handel!'|trans }}'); return false;">{{ 'Handel gennemført'|trans }}</span>
                                                {#
                                                Når anmodning er afsendt skifter knappen ”anmod sælger til” ”afventer svar” og en knap mere som siger ”annuller anmodning” - så køber kan annullere hvis det var en fejl
                                                ”annuller anmodning” skal kun vises når deal har status=NEW
                                                <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': currentDeal.uuid}) }}" class="btn btn-danger btn-sm mt-2" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Annuller anmodning'|trans }}</a>
                                                #}
                                            </p>
                                        {% else %}
                                            <p>
                                                <span class="btn btn-primary btn-sm" onclick="alert('{{ 'Afvent at du (køberen) enten afviser eller afslutter handlen.'|trans }}'); return false;">{{ 'Afventer køber'|trans }}</span>
                                                {#
                                                Når anmodning er afsendt skifter knappen ”anmod sælger til” ”afventer svar” og en knap mere som siger ”annuller anmodning” - så køber kan annullere hvis det var en fejl
                                                ”annuller anmodning” skal kun vises når deal har status=NEW
                                                <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': currentDeal.uuid}) }}" class="btn btn-danger btn-sm mt-2" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Annuller anmodning'|trans }}</a>
                                                #}
                                            </p>
                                        {% endif %}
                                    {% else %}
                                        <p>
                                            <a class="btn btn-primary btn-sm" href="#" onclick="return false;" data-toggle="modal" data-target="#newDealForm">{{ 'Anmod sælger om handel'|trans }}</a>
                                        </p>
                                    {% endif %}
                                    <p>
                                        <a class="btn btn-light border btn-sm" href="{{ path('homefeed_messages', {uuid: user.uuid}) }}">{{ 'Send besked til'|trans }} {{ user.firstname }}</a>
                                    </p>
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="share text-right">
                            <p class="mb-0" style="display: none;">
                                <a href="#" onclick="copyInputUrl(); return false;" id="copyPermLink" class="btn btn-light btn-sm border"><i class="far fa-copy"></i>{{ 'Kopiér URL'|trans }}</a>
                                <br>
                                <input type="text" value="https://{{ app.request.server.get("HTTP_HOST") }}{{ path('homefeed_profile', {slug: user.slug}) }}" id="permLink">
                            </p>
                            <script>
                                function copyInputUrl() {
                                    let copyText = document.getElementById("permLink");
                                    copyText.select();
                                    copyText.setSelectionRange(0, 99999)
                                    document.execCommand("copy");
                                    document.getElementById("copyPermLink").innerHTML = "{% trans %}Kopieret{% endtrans %}!";
                                }
                            </script>
                            <a href="#" onclick="$('.profile-page .share p').show(); $(this).hide(); return false;"><i class="fas fa-share-alt"></i>{{ 'Del'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card profile-contact-info mb-5">
                <div class="card-body">
                    {% block profileInfo %}
                        <div class="info">
                            {% if showInfo %}
                                <ul>
                                    <li><i class="fas fa-home"></i><span><a href="https://www.google.dk/maps/place/{{ user.address }} {{ user.zip }} {{ user.city }}" target="_blank" title="Åben i Google Maps">{{ user.address }}, {{ user.zip }} {{ user.city }}</a></span></li>
                                    <li><i class="fas fa-mobile-alt"></i><span><a href="tel:{{ user.phone }}">{{ user.phone }}</a></span></li>
                                    <li><i class="far fa-envelope"></i><span><a href="mailto:{{ user.email }}">{{ user.email }}</a></span></li>
                                    {% set _locale = app.request.locale|default('da') %}
                                    <li><i class="fas fa-calendar-alt"></i><span>{{ user.birthday|format_datetime('medium', 'none', locale=_locale) }}</span></li>
                                </ul>
                            {% else %}
                                <ul>
                                    <li><i class="fas fa-home"></i><span>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; {{ user.city }}</span></li>
                                    <li><i class="fas fa-mobile-alt"></i><span>{{ user.phone|slice(1,4) }} &bull;&bull;&bull;&bull;</span></li>
                                    {% set emailParts = user.email|split("@") %}
                                    {% set lastPart = emailParts[1] %}
                                    <li><i class="far fa-envelope"></i><span>&bull;&bull;&bull;&bull;@{{ lastPart }}</span></li>
                                    <li><i class="fas fa-calendar-alt"></i><span>&bull;&bull;/&bull;&bull; {{ user.birthday|date("Y") }}</span></li>
                                </ul>
                            {% endif %}
                        </div>
                    {% endblock %}
                    {% block profileSocialMedia %}
                        {% if user.someFacebook or user.someTwitter or user.someInstagram or user.someLinkedIn %}
                            <div class="so-me">
                                <ul>
                                    {% if user.someFacebook %}
                                        <li><a href="{{ user.someFacebook }}" class="facebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                                    {% endif %}
                                    {% if user.someTwitter %}
                                        <li><a href="{{ user.someTwitter }}" class="twitter" title="Twitter" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
                                    {% endif %}
                                    {% if user.someInstagram %}
                                        <li><a href="https://www.instagram.com/{{ user.someInstagram }}" class="instagram" title="Instagram" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
                                    {% endif %}
                                    {% if user.someLinkedIn %}
                                        <li><a href="{{ user.someLinkedIn }}" class="linkedin" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card card-headline">
                <div class="card-body">
                    <h4 class="card-title d-inline-block position-relative">
                        {% block profileReviewHeadline %}
                            {% if reviews %}
                                {% trans %}Købernes bedømmelser{% endtrans %}
                            {% else %}
                                {% trans %}Ingen anmeldelser endnu{% endtrans %}
                            {% endif %}
                        {% endblock %}
                        <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle point-down position-absolute" style="right: -45px; top: -5px;">
                    </h4>
                </div>
            </div>

            {# @var review \App\Entity\Review #}
            {% for review in reviews %}
                <div class="card card-review mb-2">
                    <div class="card-header">

                        {# menu #}
                        {% if review.toUser == app.user or review.fromUser == app.user %}
                            <a href="#" class="review-menu-btn"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="review-menu rounded">

                                {% if review.toUser == app.user %}
                                    <h6>{{ 'Anmeld bedømmelse'|trans }}</h6>
                                    <ul>
                                        <li><a class="are-you-sure" href="{{ path('review_report_abuse', {uuid: review.uuid, reason: 'Usaglig bedømmelse'}) }}">{{ 'Usaglig bedømmelse'|trans }}</a></li>
                                        <li><a class="are-you-sure" href="{{ path('review_report_abuse', {uuid: review.uuid, reason: 'Krænkende indhold'}) }}">{{ 'Krænkende indhold'|trans }}</a></li>
                                        <li><a class="are-you-sure" href="{{ path('review_report_abuse', {uuid: review.uuid, reason: 'Indeholder reklame'}) }}">{{ 'Indeholder reklame'|trans }}</a></li>
                                        <li><a href="#" onclick="$(this).closest('.review-menu').find('form.report-free-text').show(); return false;">{{ 'Andet'|trans }}</a></li>
                                    </ul>
                                    <form class="report-free-text" action="{{ path('review_report_abuse_other_reason', {uuid: review.uuid}) }}" method="post">
                                        <div class="dropdown-divider"></div>
                                        <textarea maxlength="100" placeholder="{{ 'Angiv årsag her. Max 100 tegn.'|trans }}" name="text"></textarea>
                                        <input type="submit" value="{{ 'Send'|trans }}" class="btn btn-sm btn-primary are-you-sure">
                                    </form>
                                {% elseif review.fromUser == app.user %}
                                    <ul>
                                        <li><a class="edit-review" href="#" data-uuid="{{ review.uuid }}" data-seller-name="{{ review.deal.seller.name|default("Slettet bruger") }}" data-toggle="modal" data-target="#reviewForm">{{ 'Rediger bedømmelse'|trans }}</a></li>
                                    </ul>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1 pr-0">
                                <div class="mb-2" style="height: 60px;">
                                    {% if review.fromUser.slug %}
                                        <a href="{{ path('homefeed_profile', {'slug': review.fromUser.slug }) }}">
                                            <img src="{{ review.fromUser.profileImage|imagine_filter('review_profile_image') }}" class="img-fluid rounded-circle">
                                        </a>
                                    {% else %}
                                        <img src="{{ review.fromUser.profileImage|imagine_filter('review_profile_image') }}" class="img-fluid rounded-circle">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-9 col-sm-10 col-lg-11">
                                <h5>
                                    {% if review.fromUser.slug %}
                                        <a href="{{ path('homefeed_profile', {'slug': review.fromUser.slug }) }}">{{ review.fromUser.name|default("Slettet bruger") }}</a>
                                    {% else %}
                                        {{ review.fromUser.name|default("Slettet bruger") }}
                                    {% endif %}
                                </h5>
                                <small>{{ review.fromUser.fromReviews.values|default|length }} {{ 'anmeldelser'|trans }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="profile-card-time">
                                    {{ include("homefeed/include/card_time.html.twig", {entity: review}) }}
                                </div>
                                <div class="star-score d-block" style="--rating: {{ review.rating }}; line-height: 1;" aria-label="{{ review.rating }}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-{% if review.image %}9{% else %}12{% endif %}">
                                {% if review.headline %}
                                    <h4>{{ review.headline }}</h4>
                                {% endif %}
                                <p class="review-comment">{{ review.comment|nl2br }}</p>
                                <p class="review-comment-preview">{{ review.comment|slice(0,580)|nl2br }}
                                    {% if review.comment|trim|length > 580 %}
                                        ... <a href="#" class="review-show-all">{{ 'Vis mere'|trans }}</a>
                                    {% endif %}
                                </p>
                            </div>
                            {% if review.image %}
                                {% set image = '/uploads/review/'~review.image %}
                                <div class="col-12 col-sm-3">
                                    <img class="img-fluid" src="{{ image|imagine_filter('review_image') }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <small class="col-12 text-right d-block">
                                <a href="#" class="show-deal" data-dealuuid="{{ review.deal.uuid }}">{{ 'Se handelsinfomation'|trans }}</a>
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="col-lg-4">

            {% block newDeals %}{% endblock %}

            <div class="card card-headline {% if myProfilePage %}mt-5{% endif %}">
                <div class="card-body">
                    <h4 class="card-title d-inline-block position-relative">
                        {% if currentDeals %}
                            {{ 'Igangværende handler'|trans }}
                        {% else %}
                            {{ 'Ingen igangværende handler'|trans }}
                        {% endif %}
                        <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle point-down position-absolute" style="right: -45px; top: -5px;">
                    </h4>
                </div>
            </div>

            {% for currentDeal in currentDeals %}
                <div class="card card-current-deal" id="currentDealUuid-{{ currentDeal.uuid }}">
                    <div class="card-body text-right">
                        {{ include('homefeed/include/card_time.html.twig', { entity: currentDeal }) }}
                        <div class="row">
                            <div class="col-6 text-center position-relative">
                                <img src="{{ asset('assets/common/img/triangle.png') }}" class="triangle position-absolute point-left" style="right: -18px; top: 62px;">
                                <p class="mt-2 mb-0">{{ 'KØBER'|trans }}</p>
                                <div class="mb-2" style="height: 100px;">
                                    <a href="{{ path('homefeed_profile', {'slug': currentDeal.buyer.slug }) }}">
                                        <img src="{{ currentDeal.buyer.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                    </a>
                                </div>
                                <h5>{{ currentDeal.buyer.name|default("Slettet bruger") }}</h5>
                                {% if currentDeal.buyer == app.user %}
                                    <a class="btn btn-primary btn-sm show-review-form" id="uuid-{{ currentDeal.uuid }}" data-uuid="{{ currentDeal.uuid }}" data-seller-name="{{ currentDeal.seller.name|default("Slettet bruger") }}" data-toggle="modal" data-target="#reviewForm">{{ 'Afslut og bedøm'|trans }}</a>
                                    <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': currentDeal.uuid}) }}" class="btn btn-danger btn-sm mt-2" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Afbryd handel'|trans }}</a>
                                {% elseif currentDeal.seller == app.user %}
                                    {% if currentDeal.buyer.id not in pokedUsers %}
                                        <a class="btn btn-primary btn-sm poke" id="uuid-{{ currentDeal.buyer.uuid }}" data-uuid="{{ currentDeal.buyer.uuid }}">{{ 'Prik'|trans }}</a>
                                        <i class="fas fa-check-circle poked success"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-6 text-center">
                                <p class="mt-2 mb-0">{{ 'SÆLGER'|trans }}</p>
                                <div class="mb-2" style="height: 100px;">
                                    <a href="{{ path('homefeed_profile', {'slug': currentDeal.seller.slug }) }}">
                                        <img src="{{ currentDeal.seller.profileImage|imagine_filter('homefeed_profile_image') }}" class="img-fluid rounded-circle">
                                    </a>
                                </div>
                                <h5>{{ currentDeal.seller.name|default("Slettet bruger") }}</h5>
                                <p>{{ 'AFVENTER KØBER'|trans }}</p>
                                {% if currentDeal.acceptedAt|date("Ymd") < "-45 day"|date("Ymd") %}
                                    <a href="{{ path('deal_dismiss_deal_by_uuid', {'dealuuid': currentDeal.uuid}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Er du sikker på at du vil annuller handlen?');">{{ 'Annuller'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="#" class="show-deal" data-dealuuid="{{ currentDeal.uuid }}">{{ 'Vis info'|trans }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{# new deal #}
{% block newDealForm %}
    {% include('homefeed/include/modal_new_deal_form.html.twig') %}
{% endblock %}
{# new deal END #}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            $(".review-menu-btn").click(function (event) {
                event.preventDefault();
                $(this).closest("div").find(".review-menu").toggle();
            });

            $("form#profileImageForm input#form_image").change(function (event) {
                $("form#profileImageForm").submit();
            });

            $(".review-show-all").click(function (event) {
                event.preventDefault();
                $(this).closest(".review-comment-preview").hide()
                $(this).closest("div").find(".review-comment").show()
            });

            $("#newDealFormSubmit").click(function (event) {
                event.preventDefault();
                let newDealFormHeader = $("#newDealFormHeader");
                let newDealFormFooter = $("#newDealFormFooter");
                let newDealFormSuccess = $("#newDealFormSuccess");
                let newDealFormError = $("#newDealFormError");
                let newDealForm = $("#newDealForm");
                let newDealFormForm = $("#newDealForm form");

                let productName = $("#deal_productName");
                let price = $("#deal_price");
                let currency = $("#deal_currency");
                let condition = $("#deal_productCondition");
                let description = $("#deal_description");
                let documentnewDealForm = document.getElementById("deal_form");

                let errors = false;
                let value;

                //empty values
                newDealForm.find("form input[type='text']").each(function () {
                    value = $(this).val().trim();

                    if (value === "") {
                        errors = true;
                        $(this).addClass("error");
                    } else {
                        $(this).removeClass("error");
                    }
                });

                //price
                let regex = /[.A-Za-z]/;
                let match = price.val().search(regex);
                if (match !== -1 || price.val().trim() === "") {
                    errors = true;
                    price.addClass("error");
                    newDealFormError.html("{{ 'Brug tal eller , (komma) til angivelse af pris'|trans }}");
                    newDealFormError.fadeIn();
                } else {
                    price.removeClass("error");
                    newDealFormError.html("");
                    newDealFormError.fadeOut();
                }

                //condition
                if (condition.val() === "none" || condition.val().trim() === "") {
                    errors = true;
                    condition.addClass("error");
                } else {
                    condition.removeClass("error");
                }

                if (!errors) {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('deal_form_create_deal', {'uuid': user.uuid}) }}",
                        processData: false,
                        contentType: false,
                        data: new FormData(documentnewDealForm),
                        success: function (response) {
                            if (response.status === "success") {
                                newDealFormForm.hide();
                                newDealFormFooter.hide();
                                newDealFormHeader.hide();
                                newDealFormSuccess.fadeIn();
                                setTimeout(function () {
                                    // newDealForm.modal('hide');
                                    // setTimeout(function () {
                                    //     newDealFormSuccess.hide();
                                    //     newDealFormForm.show()
                                    //     newDealFormFooter.show()
                                    // }, 1500);

                                    window.location.reload();
                                }, 3000);
                                // productName.val("");
                                // price.val("");
                                // description.val("");
                            } else {
                                newDealFormError.html("{{ 'Der er sket en fejl'|trans }}");
                                newDealFormError.fadeIn();
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
