{% extends("homefeed/base.html.twig") %}
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}
{% trans_default_domain "homefeed" %}

{% set title = user.name|default("Slettet bruger") %}
{% block reviewForm %}{% endblock %}

{% block content %}

    <div class="row settings">

        <div class="col-lg-9 mb-5">
            {{ form_start(userForm, {'attr': {'id': 'settings_form'}}) }}
            <div class="card mb-5">
                <div class="card-body">
                    <a href="{{ path('homefeed_profile', {'slug': app.user.slug}) }}" class="btn btn-light border btn-sm float-right">&larr;{{ 'Tilbage'|trans }}</a>
                    <h2 class="mb-4">{{ 'Personlig information'|trans }}</h2>
                    {{ form_row(userForm.firstname) }}
                    {{ form_row(userForm.lastname) }}
                    {{ form_row(userForm.address) }}
                    {{ form_row(userForm.zip) }}
                    {{ form_row(userForm.city) }}
                    {{ form_row(userForm.country) }}
                    {{ form_row(userForm.email) }}
                    {{ form_row(userForm.phone) }}
                    {{ form_row(userForm.birthday) }}
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <h2 class="mb-4">{{ 'Privatindstillinger'|trans }}</h2>
                    {{ form_row(userForm.showPersonalInfo) }}
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <h2 class="mb-4">{{ 'Sociale medier'|trans }}</h2>

                    {% if app.user.someFacebook %}
                        <p>{{ 'Forbundet til Facebook som'|trans }}: <strong>{{ app.user.someFacebookName }}</strong></p>
                        <a class="btn btn-sm btn-primary" href="{{ path('homefeed_settings_disconnect_user') }}">{{ 'Afbryd forbindelse til Facebook'|trans }}</a>
                    {% else %}
                        <a href="{{ path('fb') }}" class="btn btn-primary rounded-pill pl-2" style="background: #1877F2; border-color: #1877F2;"><i class="fab fa-facebook fa-2x float-left"></i> <span class="d-inline-block pt-1 ml-2">{{ 'Fortsæt med Facebook'|trans }}</span></a>
                        <br>
                    {% endif %}

                    {% if app.user.someInstagram %}
                        <p class="mt-2">{{ 'Forbundet til Instagram som'|trans }}: <strong>{{ app.user.someInstagramName }}</strong></p>
                        <a class="btn btn-sm btn-primary" href="{{ path('homefeed_settings_disconnect_instagram') }}">{{ 'Afbryd forbindelse til Instagram'|trans }}</a>
                    {% else %}
                        <a href="{{ path('instagram') }}" class="btn btn-primary rounded-pill mt-3"><i class="fab fa-instagram fa-2x float-left"></i> <span class="d-inline-block pt-1 ml-2">{{ 'Fortsæt med Instagram'|trans }}</span></a>
                        <br>
                    {% endif %}

                </div>
            </div>
            {{ form_end(userForm) }}
        </div>

        <div class="col-lg-3">
            <div class="card card-main mb-5">
                <div class="card-body">
                    <h2 class="mb-4">{{ 'Profilbillede'|trans }}</h2>
                    <div class="mb-2 text-center">
                        <img src="{{ user.profileImage|imagine_filter('profile_image') }}" class="img-fluid rounded-circle mb-2" data-toggle="modal" data-target="#profileImageModal_0">
                        <a href="#" class="btn btn-link btn-sm d-lg-block" onclick="$('#profileImageForm input#form_image').click(); return false;">{{ 'Skift profilbillede'|trans }}</a>
                        {{ form(formProfileImage, {'attr':{'id':'profileImageForm'}}) }}
                    </div>

                    <!-- Profile image modal -->
                    {% for key, image in user.ImagesFeaturedFirst %}
                        {% set prevKey = key - 1 %}
                        {% set nextKey = key + 1 %}
                        {% if key == 0 %} {% set prevKey = (user.images|length -1) %} {% endif %}
                        {% if key == (user.images|length -1) %} {% set nextKey = 0 %} {% endif %}

                        <div class="modal image-gallery" id="profileImageModal_{{ key }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Profilbillede'|trans }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content bg-transparent border-0">
                                    <div class="modal-body text-center">
                                        <p class="text-center">
                                            <img src="{{ image.path }}" style="max-width: 700px;">
                                        </p>
                                        {% if user == app.user %}
                                            <p class="text-center">
                                                <a href="{{ path('homefeed_feature_image', {uuid: image.uuid}) }}" class="btn btn-primary btn-sm d-inline-block are-you-sure mr-2">{{ 'Sæt som standard'|trans }}</a>
                                                <a href="{{ path('homefeed_settings_delete_image', {uuid: image.uuid}) }}" class="btn btn-danger btn-sm d-inline-block are-you-sure">{{ 'Slet billede'|trans }}</a>
                                            </p>
                                        {% endif %}
                                        {% if user.images|length > 1%}
                                            <a href="#profileImageModal_{{ prevKey }}" data-toggle="modal" data-dismiss="modal" class="prev"><i class="fas fa-angle-left"></i></a>
                                            <a href="#profileImageModal_{{ nextKey }}" data-toggle="modal" data-dismiss="modal" class="next"><i class="fas fa-angle-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card card-main mb-5">
                <div class="card-body">
                    <div class="mt-2">
                        <h2 class="mb-4">{{ 'Adgangskode'|trans }}</h2>
                        <a href="#" class="btn btn-link btn-sm w-100" onclick="$(this).hide(); $('#password-form-wrapper').show(); return false;">{{ 'Ændre min adgangskode'|trans }}</a>
                        <div style="display: none;" id="password-form-wrapper">
                            {{ form(formPassword, {'attr': {'id': 'user_new_password'}}) }}

                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-main mb-5">
                <div class="card-body">
                    <div class="mt-2">
                        <h2 class="mb-4">{{ 'GDPR'|trans }}</h2>
                        <p>{{ 'Hent alle dine data. Bl.a. personlige oplysninger, beskeder, handler, bedømmelser, m.v.'|trans }}</p>
                        <a href="{{ path('homefeed_settings_export_data', {uuid: app.user.uuid}) }}" class="btn btn-link btn-sm d-block">{{ 'Eksportér min data'|trans }}</a>
                    </div>
                </div>
            </div>

            <div class="card card-main mb-5">
                <div class="card-body">
                    <div class="mt-2">
                        <h4 class="mb-4">{{ 'Afmeld alle notifikationer fra ActiveCampaign'|trans }}</h4>
{#                        <p>{{ 'tekst: Afmeld alle notifikationer fra ActiveCampaign'|trans }}</p>#}
                        <a href="{{ path('homefeed_settings_unsubscribe_active_campaign', {uuid: app.user.uuid}) }}" class="btn btn-danger btn-sm d-block are-you-sure">{{ 'Stop notifikationer'|trans }}</a>
                    </div>
                </div>
            </div>

            <div class="card card-main mb-5">
                <div class="card-body">
                    <div class="mt-2">
                        <h2 class="mb-4">{{ 'Slet profil'|trans }}</h2>
                        <p><strong>NB!</strong> {{ 'Hvis du sletter din profil, vil din e-mail og telefonnr. få karantæne i et år. Det betyder at det ikke er muligt at oprette en ny bruger med samme e-mail eller telefonnr.'|trans }}</p>
                        <p>
                            {{ 'Du kan ikke selv slette din profil - Denne handling sender en anmodning til administratorene, som godkender sletningen.'|trans }}
                            {{ 'Indtil godkendelsen er din profil stadig aktiv.'|trans }}
                        </p>
                        <form method="post" action="{{ path('homefeed_settings_delete_user', {'uuid': user.uuid}) }}" onsubmit="return confirm('{{ 'Er du sikker på at du vil slette din profil?'|trans }}');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger btn-sm d-block w-100">{{ 'Slet profil'|trans }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{#    <div id="fb-root"></div>#}
{#    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v9.0&appId=262976211932249&autoLogAppEvents=1" nonce="3xd0ZdI4"></script>#}

{#    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>#}

{#    <fb:login-button#}
{#            scope="public_profile,email,user_link"#}
{#            onlogin="checkLoginState();">#}
{#    </fb:login-button>#}



{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    <script>#}
{#        window.fbAsyncInit = function() {#}
{#            FB.init({#}
{#                appId      : '262976211932249',#}
{#                cookie     : true,#}
{#                xfbml      : true,#}
{#                version    : 'v9.0'#}
{#            });#}

{#            FB.AppEvents.logPageView();#}

{#        };#}

{#        (function(d, s, id){#}
{#            var js, fjs = d.getElementsByTagName(s)[0];#}
{#            if (d.getElementById(id)) {return;}#}
{#            js = d.createElement(s); js.id = id;#}
{#            js.src = "https://connect.facebook.net/en_US/sdk.js";#}
{#            fjs.parentNode.insertBefore(js, fjs);#}
{#        }(document, 'script', 'facebook-jssdk'));#}

{#        FB.getLoginStatus(function(response) {#}
{#            statusChangeCallback(response);#}
{#        });#}


{#        function checkLoginState() {#}
{#            FB.getLoginStatus(function(response) {#}
{#                statusChangeCallback(response);#}
{#            });#}
{#        }#}

{#    </script>#}

    <script>
        $(function () {

            $("form#profileImageForm input#form_image").change(function (event) {
                $("form#profileImageForm").submit();
            });

            //init with autocomplete
            autocompleteCity($(".zip-autocomplete").val());

            //autocomplete on keyup
            $(".zip-autocomplete").on("keyup", function() {
                let zip = $(this).val();
                autocompleteCity(zip);

                //validate max 4 chars
                limitText(this, 4);
            });

            function limitText(field, maxChar){
                let ref = $(field);
                let val = ref.val();
                if ( val.length >= maxChar ){
                    ref.val(function() {
                        return val.substr(0, maxChar);
                    });
                }
            }

            function autocompleteCity(zip) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{{ path('external_services_dawa_get_city_by_zip') }}",
                    data: {
                        zip: zip
                    },
                    success:function(response) {
                        if(response.status === "success") {
                            $(".city-autocomplete").val(response.city);
                        }
                    }
                });
            }

            /**
             * validate form
             */
            let form;
            form = $("form#settings_form");
            form.on("submit", function () {
                let errors = false;
                let errorMsg;
                let value;
                let regex;

                //empty values
                // form.find("input").each(function () {
                //     value = $(this).val().trim();
                //
                //     if (value === "") {
                //         errors = true;
                //         $(this).addClass("error");
                //     } else {
                //         $(this).removeClass("error");
                //     }
                // });

                //first- and lastname
                let firstname = $("#user_firstname");
                let lastname = $("#user_lastname");

                regex = /^[A-Za-z.æøåÆØÅ ÀÁÂÃÄÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖÙÚÛÜÝÞßàáâãäçèéêëìíîïðñòóôõöùúûüýþÿ]+$/;
                if (regex.test(firstname.val()) || firstname.val().trim() === "") {
                    firstname.removeClass("error");
                } else {
                    errors = true;
                    firstname.addClass("error");
                    errorMsg = "{{ 'Fornavn må kun indeholde bogstaver, mellemrum og punktum. Prøv venligst igen.'|trans }}";
                    alert(errorMsg);

                }
                if (regex.test(lastname.val()) || lastname.val().trim() === "") {
                    lastname.removeClass("error");
                } else {
                    errors = true;
                    lastname.addClass("error");
                    errorMsg = "{{ 'Efternavn må kun indeholde bogstaver, mellemrum og punktum. Prøv venligst igen.'|trans }}";
                    alert(errorMsg);

                }

                //address
                let address = $("#user_address");
                regex = /^[0-9A-Za-z.,æøåÆØÅ ÀÁÂÃÄÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖÙÚÛÜÝÞßàáâãäçèéêëìíîïðñòóôõöùúûüýþÿ]+$/;
                let regexInt = /\d/;
                let regexIntStrict = /^\d+$/;
                if ( regex.test(address.val()) && regexInt.test(address.val()) && !regexIntStrict.test(address.val()) && address.val().trim() !== "") {
                    address.removeClass("error");
                }
                else {
                    errors = true;
                    address.addClass("error");
                    errorMsg = "{{ 'Adresse må kun indeholde bogstaver, tal, mellemrum og punktum, samt indeholde mindst ét tal'|trans }}";
                    alert(errorMsg);
                }

                //password
                {#let password = $("#signup_start_password_first");#}
                {#if (password.val().length >= 8) {#}
                {#    password.removeClass("error");#}
                {#} else {#}
                {#    errors = true;#}
                {#    password.addClass("error");#}
                {#    errorMsg = "{{ 'Adgangskode skal minimum være 8 karakterer lang. Prøv venligst igen.'|trans }}";#}
                {#    alert(errorMsg);#}
                {#}#}

                if (!errors) {
                    return true;
                }

                return false;
            });

            /**
             * validate form
             */
            form = $("form#user_new_password");
            form.on("submit", function () {
                let errors = false;
                let errorMsg;

                let password1 = $("#user_new_password_password_first");
                let password2 = $("#user_new_password_password_second");
                if (password1.val() !== password2.val()) {
                    errors = true;
                    password1.addClass("error");
                    password2.addClass("error");
                    errorMsg = "{{ 'Adgangskoder skal være ens. Prøv venligst igen'|trans }}";
                    alert(errorMsg);
                }
                else if (password1.val().length < 8) {
                    errors = true;
                    password1.addClass("error");
                    password2.addClass("error");
                    errorMsg = "{{ 'Adgangskode skal minimum være 8 karakterer lang. Prøv venligst igen.'|trans }}";
                    alert(errorMsg);
                }
                else {
                    password1.removeClass("error");
                    password2.removeClass("error");
                }

                if (!errors) {
                    return true;
                }

                return false;
            });
        });
    </script>
{% endblock %}

