{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        td.actions, th.actions {
            width: 25%;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/backend/javascripts/table-data-view.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">{{ title|default('No title'|trans) }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% block actions %}{% endblock %}
                    </h2>

                    {% if searchFormAction is defined %}
                        <form action="{{ searchFormAction }}" class="search nav-form">
                            <div class="input-group input-search">
                                <input aria-label="Søg" type="text" class="form-control" name="q" id="q" placeholder="{% trans %}Søg{% endtrans %}..." value="{{ app.request.get("q") }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    {% endif %}


                </header>
                <div class="panel-body">

                    {% for message in app.flashes("success") %}
                        <div class="alert alert-success">
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes("error") %}
                        <div class="alert alert-danger">
                            {{ message|trans }}
                        </div>
                    {% endfor %}

                    <div class="table-responsive">
                        {% block tableData %}
                            <table class="table table-hover table-striped mb-none">
                                <thead>
                                {% block table_head %}
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th class="actions">Actions</th>
                                    </tr>
                                {% endblock %}

                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    {% block table_row %}
                                        <tr>
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.name|default }}</td>
                                            <td class="actions" nowrap>
                                                <a href="#" class="show-actions">Vis</a>
                                                <div class="actions-wrapper d-none">
                                                </div>
                                            </td>
                                        </tr>
                                    {% endblock %}
                                {% else %}
                                    <tr>
                                        <td colspan="1000">{% trans %}Ingen emner fundet{% endtrans %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="ml-sm">
                                {{ knp_pagination_render(entities) }}
                            </div>

                        {% endblock %}
                        <button class="delete-entities btn btn-danger mt-xl d-none">{% trans %}Slet valgte{% endtrans %}</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% set tableDataTableClass = "table table-hover table-striped mb-none" %}
