{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] only %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    {# <div class="panel-actions"> #}
                    {# <a href="#" class="fa fa-caret-down"></a> #}
                    {# <a href="#" class="fa fa-times"></a> #}
                    {# </div> #}

                    <h2 class="panel-title">
                        {{ title|default("[title]") }}
                        {% if backRoute is defined %}
{#                            {% set referer = app.request.server.get("HTTP_REFERER")|default("/") %}#}
{#                            {% if "?q=" in referer %}#}
{#                                <a href="#" class="btn btn-default btn-sm form-back-link" style="float:right;" onclick="window.history.back(); return false;">&larr; {% trans %}Tilbage{% endtrans %}</a>#}
{#                            {% else %}#}
{#                                <a href="{{ path(backRoute) }}" class="btn btn-default btn-sm form-back-link" style="float:right;">&larr; {% trans %}Tilbage{% endtrans %}</a>#}
{#                            {% endif %}#}
                            <a href="{{ path(backRoute) }}" class="btn btn-default btn-sm form-back-link" style="float:right;">&larr; {% trans %}Tilbage{% endtrans %}</a>
                        {% endif %}
                    </h2>
                </header>
                <div class="panel-body">
                    {% if imageDir is defined and imageName is defined and imageDir and imageName %}
                        <div class="form-group mt-xl mb-xl">
                            <label class="col-sm-2 control-label text-right pr-xl">Billede</label>
                            <div class="col-sm-10" style="padding-left: 6px;">
                                {% set image = imageDir~imageName %}
                                <img src="{{ image|imagine_filter('deal_image_backend') }}" class="float-right">
                            </div>
                        </div>
                    {% endif %}
                    {% block form %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
