{% trans_default_domain "backend" %}
<!doctype html>
<html lang="da" class="fixed">
<head>
    <title>Safe2Trade{% if title is defined %} | {{ title }}{% endif %}</title>

    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- FAV ICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/backend/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/backend/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/backend/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/backend/favicon/site.webmanifest') }}">

    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/backend/stylesheets/bootstrap.3.4.1.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/common/css/font-awesome/5.11.2/css/all.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/backend/stylesheets/magnific-popup.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/backend/stylesheets/theme.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/backend/stylesheets/skins/default.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/backend/stylesheets/theme-custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/common/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/common/css/jquery-ui.min.css') }}">
    {% endblock %}
    <style>
    </style>
</head>
<body>

{% block body %}

    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">

                {% set target = "" %}

                {% if is_granted('ROLE_EMPLOYEE') %}
                    {% set logoUrl = path('base_backend_admin_home') %}
                {% else %}
                    {% set logoUrl = "https://www.base5.test" %}
                    {% set target = "_blank" %}
                {% endif %}
                <a href="{{ logoUrl }}" class="logo" target="{{ target }}">
                    <img src="{{ asset('assets/backend/images/logo.png') }}" height="35" alt="Porto Admin"/>
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                     data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <div id="userbox" class="userbox mt-sm">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="{{ app.user.profileImagePath|imagine_filter("backend_profile_thumb") }}" alt="{{ app.user.firstname }} {{ app.user.lastname }}" class="img-circle"/>
                        </figure>
                        <div class="profile-info">
                            <span class="name">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                            <span class="role">{{ app.user.email }}</span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                {% if is_granted('ROLE_HOSTMASTER') %}
                                    {% set href = path('base_backend_hostmaster_profile') %}
                                {% else %}
                                    {% set href = path('base_backend_admin_profile') %}
                                {% endif %}
                                {% if is_granted('ROLE_EMPLOYEE') %}
                                    <a role="menuitem" tabindex="-1" href="{{ href }}"><i class="fa fa-user"></i> {% trans %}Min profil{% endtrans %}</a>
                                {% endif %}
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i
                                            class="fa fa-power-off"></i> {% trans %}Log ud{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">
                {#<div class="sidebar-header">
                    {% if not is_granted('ROLE_VOLUNTARY') %}
                        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
                             data-fire-event="sidebar-left-toggle">
                            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    {% endif %}
                </div>#}

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            {% if is_granted('ROLE_HOSTMASTER') %}
                                {{ knp_menu_render("backend_hostmaster_sidebar", {"currentClass": "nav-expanded nav-active", "allow_safe_labels": true}) }}
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                {{ knp_menu_render("backend_admin_sidebar", {"currentClass": "nav-expanded nav-active", "allow_safe_labels": true}) }}
                            {% elseif is_granted('ROLE_EMPLOYEE') %}
                                {{ knp_menu_render("backend_employee_sidebar", {"currentClass": "nav-expanded nav-active", "allow_safe_labels": true}) }}
                            {% elseif is_granted('ROLE_VOLUNTARY') %}
                                {{ knp_menu_render("backend_voluntary_sidebar", {"currentClass": "nav-expanded nav-active", "allow_safe_labels": true}) }}
                            {% endif %}
                        </nav>
                    </div>
                </div>
{#                <small class="ml-lg">sprog: {{ app.request.locale }}</small>#}

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    {% if pageTitle is defined %}<h2>{{ pageTitle }}</h2>{% endif %}

                    {% if is_granted('IS_IMPERSONATOR') %}
                        <div class="right-wrapper pull-left exit-impersonate">
                            <a href="{{ path('base_backend_hostmaster_home', {'_log_in_as': '_exit'}) }}" class="btn btn-danger btn-sm">Forlad "Log ind som"</a>
                        </div>
                    {% endif %}

{#                    <div class="right-wrapper pull-left">#}
{#                        <a href="{{ path('base_backend_hostmaster_home', {'_log_in_as': '_exit'}) }}" class="right-wrapper pull-left btn btn-info btn-sm">Forlad "Log ind som"</a>#}
{#                    </div>#}

                    {#                    <div class="right-wrapper pull-right">#}
                    {#                        <ol class="breadcrumbs">#}
                    {#                            <li>#}
                    {#                                <a href="index.html">#}
                    {#                                    <i class="fa fa-home"></i>#}
                    {#                                </a>#}
                    {#                            </li>#}
                    {#                            <li><span>Tables</span></li>#}
                    {#                            <li><span>Basic</span></li>#}
                    {#                        </ol>#}
                    {#                        <span class="sidebar-right-toggle"></span>#}
                    {#                    </div>#}
                </header>

                {% include('flashbag.html.twig') %}

                {% block content %}{% endblock %}

            </section>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/backend/javascripts/modernizr.js') }}"></script>
    <script src="{{ asset('assets/common/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/jquery.browser.mobile.js') }}"></script>
    <script src="{{ asset('assets/common/js/bootstrap.3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/nanoscroller.js') }}"></script>
    <script src="{{ asset('assets/common/js/jquery.placeholder.min.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/jquery.bootstrap.wizard.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/magnific-popup.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/theme.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/theme.custom.js') }}"></script>
    <script src="{{ asset('assets/backend/javascripts/theme.init.js') }}"></script>
    <script src="{{ asset('assets/common/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/chartjs.2.9.4.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/jquery-ui.min.js') }}"></script>
{% endblock %}

<script>

    let confirmMsg = "{% trans %}Er du sikker på at du vil slette de valgte?{% endtrans %}";

    $(function () {
        $('.select2').select2();
    });

{#    #}{# choiceFlipper #}
{#    function choiceFlipper(choiceFlipper) {#}
{#        var form = $(choiceFlipper).closest('form');#}
{#        var choice = $(choiceFlipper).val();#}

{#        form.find('.choiceFlipperChoice').each(function () {#}

{#            if ($(this).hasClass(choice + 'Choice')) {#}
{#                $(this).closest('.form-group').show();#}

{#                if ($(this).data('required') === 'required') {#}
{#                    $(this).attr('required', 'required');#}
{#                }#}

{#            } else {#}
{#                $(this).closest('.form-group').hide();#}

{#                if ($(this).attr('required') === 'required') {#}
{#                    $(this).data('required', 'required');#}
{#                    $(this).attr('required', false);#}
{#                }#}

{#                if ($(this).hasClass('entityCollection')) {#}
{#                    $(this).find('.form-group').remove();#}
{#                }#}
{#            }#}
{#        });#}
{#    }#}

{#    #}{# https://stackoverflow.com/questions/2844565/is-there-a-javascript-jquery-dom-change-listener #}
{#    MutationObserver = window.MutationObserver || window.WebKitMutationObserver;#}

{#    var observer = new MutationObserver(function(mutations, observer) {#}
{#        $(function () {#}
{#            $('.choiceFlipper').each(function () {#}
{#                choiceFlipper(this);#}
{#            });#}
{#        });#}
{#    });#}

{#    observer.observe(document, {#}
{#        childList: true,#}
{#        subtree: true,#}
{#    });#}

{#    $(function () {#}

{#        $(document).on('change', '.choiceFlipper', function () {#}
{#            choiceFlipper(this);#}
{#        });#}

{#    });#}


</script>


</body>
</html>
<!-- Theme "Octopus" by Okler Themes / Colorlib -->
