<!DOCTYPE html>
<html lang="da" class="bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Safe2Trade | {{ title|default("")|trans }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('homefeed') }}
    {% endblock %}
</head>
<body class="bg-white p-0">

    {% if app.user %}
        <ul class="navbar-nav bg-white">
{#            <li class="nav-item divider d-inline-block"></li>#}
{#            <li class="nav-item d-inline-block pl-1">#}
{#                <a class="nav-link" href="https://app.safe2trade.dk/homefeed" target="_top">{{ 'Startside'|trans }}</a>#}
{#            </li>#}
            <li class="nav-item row flex">
                <div class="col col-auto">
                    <a href="https://app.safe2trade.dk/homefeed" target="_top">
                        <img src="{{ app.user.profileImage|imagine_filter('top_menu_profile_image') }}" class="img-fluid rounded-circle profile-image">
                    </a>
                </div>
                <div class="col col-auto pl-0">
                    <a class="nav-link" href="https://app.safe2trade.dk/homefeed" target="_top" style="font-size: 0.8em;">{{ app.user.firstname }}</a>
                </div>
            </li>

        </ul>
    {% else %}
        <nav class="top-menu d-block">
            <ul class="navbar-nav w-100 d-block">
                <li class="nav-item mx-1 float-left w-auto"><a class="btn btn-light border text-sm rounded-0" href="https://app.safe2trade.dk" target="_top">Log ind</a></li>
                <li class="nav-item ml-1 float-left w-auto"><a class="btn btn-primary text-sm rounded-0" href="https://app.safe2trade.dk/tilmeld/start" target="_top">Register</a></li>
            </ul>
        </nav>
    {% endif %}

</body>
</html>