{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% set title = "Log ind"|trans %}

{% block body %}

{#    <iframe src="https://app.safe2trade.dk/iframe/wp-login" frameborder="0" width="400" height="100" style="overflow:hidden" sandbox="allow-top-navigation allow-scripts allow-forms"></iframe>#}

    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
{#            <a href="/" class="logo pull-left">#}

{#            </a>#}

            <div class="panel panel-sign" style="position: relative;">
                <img src="{{ asset('assets/backend/images/logo.png') }}" height="auto" width="100%" alt="" style="position: absolute; top: 8px; left: 30px; height: 30px; width: auto;" />
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> {% trans %}Log ind{% endtrans %}</h2>
                </div>
                <div class="panel-body pb-xlg">

                    <h5 class="mt-none">
                        {% if contentHeadline and contentHeadline.text|trim|length > 0 %}
                            {{ contentHeadline.text|raw|nl2br }}
                        {% else %}

                        {% endif %}
                    </h5>

                    {% if content and content.text|trim|length > 0 %}
                        <p class="mb-xl">{{ content.text|raw|nl2br }}</p>
                    {% endif %}

                    {% include('flashbag.html.twig') %}

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, "security") }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {% trans %}Du er logget ind som{% endtrans %} <strong>{{ app.user.username }}</strong>, <a href="{{ path('app_logout') }}">{% trans %}Log ud{% endtrans %}</a>
                            <div class="row mt-xl text-right">
                                {% if is_granted('ROLE_EMPLOYEE') %}
                                    <button type="submit" class="btn btn-primary hidden-xs" onclick="window.location.href = '{{ path('base_backend_admin_home') }}';">{% trans %}Gå til Administration{% endtrans %}</button>
                                {% elseif is_granted('ROLE_CUSTOMER') %}
                                    <button type="submit" class="btn btn-primary hidden-xs" onclick="window.location.href = '{{ path('homefeed_index') }}';">{% trans %}Gå til Homefeed{% endtrans %}</button>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <form method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group mb-lg">
                                <label for="inputEmail">{% trans %}E-mail{% endtrans %} / {% trans %}Brugernavn{% endtrans %}</label>
                                <div class="input-group input-group-icon">
                                    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-lg" placeholder="E-mail" tabindex="1" required autofocus/>
                                    <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left" for="inputPassword">{% trans %}Adgangskode{% endtrans %}</label>
                                    <a href="{{ path('login_forgot_password') }}" class="pull-right">{% trans %}Glemt adgangskode?{% endtrans %}</a>
                                </div>
                                <div class="input-group input-group-icon">
                                    <input name="password" type="password" id="inputPassword" class="form-control input-lg" placeholder="Adgangskode" tabindex="2" required/>
                                    <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="RememberMe" name="_remember_me" type="checkbox"/>
                                        <label for="RememberMe">{% trans %}Husk mig{% endtrans %}</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary hidden-xs">{% trans %}Log ind{% endtrans %}</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">{% trans %}Log ind{% endtrans %}</button>
                                </div>
                            </div>
                        </form>

                    {% endif %}
                </div>
            </div>

            {#            <p class="text-center text-muted mt-md mb-md"><i class="fa fa-quote-left mr-sm"></i><em>We all make choices, but in the end our choices make us. </em><i class="fa fa-quote-right ml-sm mr-sm"></i><br><span style="float:right; margin-right:25px;">- Ken Levine</span></p>#}
{#            <p class="text-center text-muted mt-md mb-md"><i class="fa fa-quote-left mr-sm"></i><em>If opportunity doesn't knock, build a door. </em><i class="fa fa-quote-right ml-sm mr-sm"></i><br><span style="float:right; margin-right:25px;">- Milton Berle</span></p>#}
        </div>
    </section>
    <!-- end: page -->

{% endblock %}
