{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}
{% set searchFormAction = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{#{% block actions %}#}
{#    <a class="btn btn-default" href="{{ path('backend_admin_message_new') }}">Opret ny</a>#}
{#{% endblock %}#}

{% block table_head %}
    <tr>
{#        <th align="center">#}
{#            <input type="checkbox" value="all" class="select-all-checkboxes"/>#}
{#            ##}
{#        </th>#}
        <th>Oprettet</th>
        <th>Fra</th>
        <th></th>
        <th>Til</th>
        <th>Besked</th>
        {#        <th class="actions">Handlinger</th>#}
    </tr>
{% endblock %}

{% block table_row %}
    {# @var entity \App\Entity\Message #}
    <tr>
{#        <td>#}
            {#            <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" id="id_{{ entity.id }}" class="entity-checkbox mr-xs"/>#}
{#            <label for="id_{{ entity.id }}">{{ entity.id }}</label>#}
            {#            <a href="{{ path('backend_admin_message_edit', {'id': entity.id}) }}" class="ml-xl">{{  entity.headline|default("Rediger") }}</a>#}
{#        </td>#}
        {% set _locale = app.request.locale|default('da') %}
        <td>{{ entity.createdAt|format_datetime('medium', 'short', locale=_locale) }}</td>
        <td><img src="{{ entity.fromUser.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle mr-2">{{ entity.fromUser.name|default("") }}</td>
        <td>&rarr;</td>
        <td><img src="{{ entity.toUser.profileImage|imagine_filter('top_menu_profile_image') }}" class="rounded-circle mr-2">{{ entity.toUser.name|default("(Ingen valgt)") }}</td>
        <td><em>{{ entity.text|nl2br }}</em></td>

        {#        <td class="actions" nowrap>#}
        {#            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>#}
        {#            <div class="actions-wrapper d-none">#}
        {#                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_message_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>#}
        {#                {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_message_delete', {'id': entity.id}) }) }}#}
        {#            </div>#}
        {#        </td>#}
    </tr>
{% endblock %}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script>#}
{#        let pathDeleteEntities = "{{ path('base_backend_admin_message_delete_multiple') }}";#}
{#    </script>#}
{#{% endblock %}#}


