// customize some Bootstrap variables
@import "include/variables";

// the ~ allows you to reference things in node_modules
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~bootstrap/scss/bootstrap";
@import "include/common";
@import "include/stars";

h1, h2, h3, h4, h5 {

}

h1 {

}

p {

}

.logo {
    img {
        max-height: 30px;
    }
}

.container {
    max-width: 1400px;

    .inner-container {

    }
}

.card {
    border: none;

    .card-header {
        position: relative;
        border: none;
        border-radius: 0.8rem 0.8rem 0 0;

        &.bg-grey {
            background-color: $grey;
        }

        img {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 20px;
        }

        h5 {
            padding-left: 25px;
            margin-top: 5px;
            margin-bottom: 0;
            display: inline-block;
            color: $white;
        }
    }
}

.init-steps {
    .card {
        display: block;
        padding: 1.5rem;
        min-height: 280px;

        img {
            max-height: 120px;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0.2rem;
        }

        small {
            color: $grey;
            display: block;
            margin-bottom: 0.2rem;
        }
    }
}

.front-page-right-call-to-action {

    .card {

        .card-body {

            img {
                width: 102px;
                height: 111px;
                margin-bottom: 1rem;
            }

            small {
                color: $grey;
                display: block;
                margin-bottom: 0.2rem;
            }
        }
    }
}

.blog-list {
    img {
        border-radius: 10px 10px 0 0;
    }
}

/**
 * Sign up
 */
.signup {

    .row {
        position: relative;

        .signup-tooltip {
            position: absolute;
            top: 9px;
            right: -11px;
            font-size: 1.3em;
            cursor: help;
        }

        &.form-input-with-label {
            .signup-tooltip {
                top: 41px;
            }
        }
    }
}