@import "include/variables";
@import "~bootstrap/scss/bootstrap";
@import "include/bootstrap_overwrite";
@import "include/common";
@import "include/stars";


h1, h2, h3, h4, h5 {

}
.card-headline h4 {
    font-size: 1.4vw;
}


h5 {
    a {
        color: #212529;
        text-decoration: none;
    }
}

h1 {

}

p {

}


.container {
    max-width: 1400px;

    .inner-container {

    }
}

.container-fluid {
    padding-bottom: 3rem;
    background: lightgray;
}

.topsearch select{
    width: 350px;
}

.unseen-dot {
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $danger;
    top: 12px;
    right: 14px;

}

.dropdown-item {
    position: relative;
    min-width: 320px;
    font-size: 0.9em;
    padding-left: 1rem;
    padding-right: 2rem;

    &:active {
        background-color: $white;
        color: $gray-900;
    }

    //&.show-deal {
    //    &:hover {
    //        background-color: $gray-200;
    //    }
    //}

    .btn {
        float: right;
        margin-left: 0.5rem;
        padding: 4px 5px;
        line-height: 100%;
    }

    p {
        position: relative;

        i {
            margin-right: 0.25rem;
            color: gray;
            width: 20px;
            text-align: left;
        }

        span.time-since {
            position: absolute;
            bottom: -13px;
            left: 28px;
            font-size: 0.8em;
            color: #808080;
        }
    }

    &.dropdown-item-message {

        p {
            span.time-since {
                top: 23px;
                left: 39px;
            }

            span.sample {
                top: 39px;
                font-style: italic;
            }
        }
    }
}

.no-min-width {
    .dropdown-item {
        min-width: auto;
    }
}

.profile-card-time {
    float: right;
}

.blog-time {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 15px;

    i {
        float: right;
        margin-top: 2px;
        margin-left: 5px;
        font-size: 1em;
        color: gray;
    }
}

.card {
    position: relative;
    margin-bottom: 0.25rem;
    border: none;

    &.card-new-deal {

        .show-deal {
            font-size: 0.8em;
        }
    }

    &.card-current-deal {

        .show-deal {
            font-size: 0.8em;
        }

        .triangle {
            display: none;
        }
    }

    &.card-headline {
        margin-bottom: 0.75rem;

        .card-title {
            margin: 0;
        }
    }

    &.card-review {

        .review-comment {
            display: none;
        }

        //.review-comment-preview {
        //    overflow: hidden;
        //    max-height: 206px;
        //}

        a.review-menu-btn {
            display: inline-block;
            position: absolute;
            top: 3px;
            right: 3px;
            color: gray;
            height: 25px;
            width: 25px;
            text-align: center;
            z-index: 990;
        }

        .review-menu {
            display: none;
            position: absolute;
            top: 2rem;
            right: 0;
            border: solid 1px gray;
            background-color: #fff;
            z-index: 995;

            h6 {
                padding: 1rem 1rem 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {

                    a {
                        display: block;
                        padding: 0.25rem 1rem;
                        color: #212529;
                        text-decoration: none;
                        font-size: 0.8em;
                        outline: 0 none;

                        &:hover {
                            background-color: #dedede;
                        }
                    }
                }
            }

            form {
                display: none;
                margin: 1rem;
                text-align: right;

                textarea {
                    display: block;
                    padding: 3px;
                    border: solid 1px #dedede;
                    font-size: 0.8em;
                    text-align: left;
                }

                input[type='submit'] {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

.rounded-circle {
    box-shadow: 0 0 4px 1px #b4b4b4;
    -moz-box-shadow: 0 0 4px 1px #b4b4b4;
    -webkit-box-shadow: 0 0 4px 1px #b4b4b4;
    -khtml-box-shadow: 0 0 4px 1px #b4b4b4;
}

.profile-page {

    .profile-image {
        width: 9vw;
        height: 9vw;
        max-height: 135px;
        max-width: 135px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: solid 4px $secondary;
    }

    .profile-page {

        .card-main {
            text-align: center;

            .profile-image {
                border: solid 1px red;
                width: 150px;
                height: 150px;
            }
        }
    }


    .edit-settings {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        border: solid 2px $link;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
    }

    .card-main {
        .edit-settings {
            bottom: -2px;
            right: -2px;
        }

        .share {
            position: absolute;
            bottom: 0;
            right: 0;
            display: inline-block;
            padding: 0.5rem;

            a {
                padding: 1px 3px;
                color: gray;
                text-decoration: none;
                font-size: 0.8em;


                i {
                    margin-right: 0.25rem;
                }
            }

            input {
                border: solid 1px #dee2e6;
                border-radius: 2px;
                font-size: 10px;
                width: 280px;
                max-width: 100%;
                padding: 2px;
            }
        }
    }

    .profile-contact-info {
        position: relative;

        .info {

            .edit-settings {
                bottom: -0.5rem;
                right: -0.5rem;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 0.5rem;

                i {
                    width: 20px;
                    text-align: center;
                    margin-right: 0.5rem;
                }

                span {

                    a {
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            color: #999;
                        }
                    }
                }
            }
        }

        .so-me {
            position: relative;
            display: inline-block;
            width: auto;

            .edit-settings {
                bottom: -0.5rem;
                right: -1rem;
            }

            ul {

                li {
                    display: inline;

                    a {
                        color: $dark;
                        font-size: 2em;
                        margin-right: 1rem;

                        &.facebook {
                            margin-right: 0.5rem;
                        }

                        &.facebook:hover {
                            color: #4267B2;
                        }

                        &.twitter:hover {
                            color: #1da1f2;
                        }

                        &.instagram:hover {
                            color: #833ab4;
                        }

                        &.linkedin:hover {
                            color: #2867b2;
                        }

                    }
                }
            }
        }
    }
}

#password-form-wrapper {
    input {
        margin-bottom: 1rem;
        font-size: 0.9em;
    }
}

.notifications-page {

    .card {

        a {

            &.btn {
                position: absolute;
                bottom: 5px;
                right: 5px;
            }

            &:hover {
                background-color: $gray-200;
            }

            &.no-style {
                text-decoration: none;
                color: $gray-900;
            }
        }

        em.sample {
            display: block;
            font-size: 0.8em;
            padding-left: 40px;
        }

        .unseen-dot {
            top: 32px;
            left: 6px;
        }
    }
}

.modal {
    &.image-gallery {

        .next, .prev {
            position: fixed;
            top: 44%;
            left: 1rem;

            font-size: 5rem;
            line-height: 130%;
            text-decoration: none;

            i {
                color: darkgray;
            }

        }

        .next {
            left: auto;
            right: 1.5rem;
        }

        img {
            box-shadow: $gray-800 1px 1px 10px -1px;
        }
    }
}

#profileImageForm,
.poked {
    display: none;
}

#reviewForm {

    input, textarea {
        width: 100%;
    }

    input, textarea {
        width: 100%;
    }
}

//menu
.navbar-icon-top {
    .navbar-nav {

        .nav-item {

            &.divider {
                display: inline-block;
                width: 1px;
                border-right: solid 1px #999;
                height: auto;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        .nav-link {
            padding-left: 0;
            padding-right: 0;

            > i {
                position: relative;
                width: 36px;
                font-size: 24px;
                top: 3px;
                line-height: 12px;

                > .badge {
                    font-size: 0.75rem;
                    position: absolute;
                    right: 0;
                    top: -10px;
                    font-family: sans-serif;
                }
            }
        }
    }
}

.card-messages {
    background: none;
    border: none;

    #messages {
        max-height: 500px;
        overflow-y: auto;

        .message {

            p {
                display: inline-block;
                padding: 7px 1rem 6px 40px;
                border-radius: 1rem;
                background-color: #fff;
                width: auto;
                max-width: 400px;

                img {
                    position: absolute;
                    top: 19px;
                    left: 1rem;
                }
            }

            .date {
                display: block;
                padding-left: 40px;
                color: #999;
            }
        }

        .my-message {

            p {
                float: right;
                padding-right: 40px;
                padding-left: 1rem;
                text-align: right;

                img {
                    left: auto;
                    right: 1rem;
                }
            }

            .date {
                padding-right: 40px;
                float: right;
            }
        }
    }
}

.breaker {
    clear: both;
    height: 0;
}


/**
*   MIN-WIDTH
*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .navbar-icon-top {
        .navbar-nav {
            .nav-link {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                padding-top: 4px;
                padding-bottom: 0;

                > i {
                    display: block;
                    width: 48px;
                    margin: 2px auto 4px auto;
                    top: 0;
                    line-height: 24px;

                    > .badge {
                        top: -7px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    //.card-headline h4 {
    //    font-size: 1.4rem;
    //}
    .card.card-current-deal .triangle {
        display: block;
    }
}

@media (min-width: 1350px) {
    .card-headline h4 {
        font-size: 1.2rem;
    }
}

/**
*   MAX-WIDTH
*/
@media (max-width: 1200px) {
}


@media (max-width: 992px) {
    .card-headline h4 {
        font-size: 1.4rem;
    }

}

@media (max-width: 768px) {
    .card.card-current-deal .triangle {
        display: block;
        height: 42px;
    }


    .topsearch {
        width: 80vw;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .topsearch select {
        width: 80vw;

    }
    .profile-page {

        .profile-image {
            width: 150px;
            height: 150px;
        }

        .card-main {

            .share {
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }
}

@media (max-width: 576px) {
    .blog-time {
        position: inherit;
    }
    .container {
        padding:0;
    }
    .row {
        margin: 0;
    }
    .card-headline h4 {
        font-size: 1rem;
    }
    .card.card-current-deal .triangle {
        height: 24px;
        top: 70px !important;
        right: -10px !important;
    }
}

@media (max-width: 400px) {
    .profile-card-time {
        float: none;
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }
}

@media (max-width: 370px) {
    .card.card-current-deal .triangle {
        display: none;
    }
}

