{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% set title = "Hjem"|trans %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $("#fromDate, #toDate").datepicker({
                firstDay: 1,
                dayNamesMin: ["Sø", "Ma", "Ti", "On", "To", "Fr", "Lø"],
                monthNames: ["Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December"],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                showWeek: false,
                changeMonth: true,
                changeYear: true,
                prevText: "",
                nextText: "",
                dateFormat: 'yy-mm-dd',
                onSelect: function () {
                    $("#date-form-submit").show();
                }
            });
        });

        let ctx;
        let myChart;

        //reviews
        ctx = document.getElementById('reviewsChart');
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['0-1', '1-2', '2-3', '4-5', '5'],
                datasets: [{
                    label: 'Antal brugere',
                    data: [
                        {% set maxValue = 0 %}
                        {% for rating,users in usersByRating %}
                            {% if users|default|length > maxValue %}
                                {% set maxValue = users|default|length %}
                            {% endif %}
                            {{ users|default|length }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgb(255, 215, 0, 0.2)',
                        'rgb(255, 215, 0, 0.4)',
                        'rgb(255, 215, 0, 0.6)',
                        'rgb(255, 215, 0, 0.8)',
                        'rgb(255, 215, 0, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        barThickness: 75
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            max: {{ maxValue + 1 }},
                        }
                    }]
                }
            }
        });

        //deals
        ctx = document.getElementById('dealsChart');
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for interval,users in usersByTotalDeals %}
                        '{{ interval }}',
                    {% endfor %}

                ],
                datasets: [{
                    label: 'Antal brugere',
                    data: [
                        {% set maxValue = 0 %}
                        {% for interval,users in usersByTotalDeals %}
                            {% if users|default|length > maxValue %}
                                {% set maxValue = users|default|length %}
                            {% endif %}
                            {{ users|default|length }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for interval,users in usersByTotalDeals %}
                          '#2baab1',
                        {% endfor %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        barThickness: 75
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            max: {{ maxValue + 1 }},
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ml-md">
            {% if fromDate or toDate %}
                <small id="fromDateHelp" class="form-text text-muted">Nulstil: <a href="{{ path(app.request.attributes.get('_route')) }}">Vis alle</a></small>
            {% endif %}

        </div>
    </div>

    <div class="row mb-md">
        <form method="get" action="{{ path(app.request.attributes.get('_route')) }}">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="fromDate">Fra</label>
                    <input type="text" class="form-control" id="fromDate" name="fromDate" aria-describedby="fromDateHelp" placeholder="Vælg evt. fra-dato", value="{{ fromDate }}">
{#                    <small id="fromDateHelp" class="form-text text-muted">{{ fromDate }}</small>#}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="toDate">Til</label>
                    <input type="text" class="form-control" id="toDate" name="toDate" aria-describedby="toDateHelp" placeholder="Vælg evt. til-dato" value="{{ toDate }}">
{#                    <small id="toDateHelp" class="form-text text-muted">{{ toDate }}</small>#}
                    <button type="submit" class="btn btn-primary pull-right mt-sm mb-md" id="date-form-submit" style="display:none;">Søg</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Gennemsnitsvurderinger</h2>
                    {# <p class="panel-subtitle">Customize the graphs as much as you want, there are so many options and features to display information using JSOFT Admin Template.</p> #}
                </header>
                <div class="panel-body">
                    <canvas id="reviewsChart" height="100"></canvas>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Brugere</h4>
                                    <div class="info">
                                        <strong class="amount">{{ users|length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-secondary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Slettede brugere</h4>
                                    <div class="info">
                                        <strong class="amount">{{ deletedUsers|length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-tertiary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="fas fa-handshake"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Gennemførte handler</h4>
                                    <div class="info">
                                        <strong class="amount">{{ deals|length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left" style="border-color: gold;">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon" style="background: gold;">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Anmeldelser</h4>
                                    <div class="info">
                                        <strong class="amount">{{ reviews|length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Brugere MED sociale medier</h4>
                                    <div class="info">
                                        <strong class="amount">{{ usersWithSoMe|length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-secondary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fas fa-comment-slash"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Brugere UDEN sociale medier</h4>
                                    <div class="info">
                                        <strong class="amount">{{ usersWithoutSoMe|length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Gennemførte handler (købere + sælgere)</h2>
                </header>
                <div class="panel-body">
                    <canvas id="dealsChart" height="100"></canvas>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
