/* Add here all your CSS customizations */

@import "config/imports";

/*bootstrap like*/
.align-bottom {
  vertical-align: bottom;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

/*bootstrap like END*/

/*backend custom*/
.table-responsive {
  table {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.list-style-none {
  ul {
    padding-left: 0;
    list-style: none;

    li {
      list-style: none;
    }
  }
}

.btn-view-edit {
  min-width: 9rem;
}



.profile-image-big {
  width: 100%;
  height: auto;
}

.panel-heading {
  form {
    &.search {
      position: absolute;
      width: 16em;
      right: 12px;
      top: 12px;
      text-align: center;
    }
  }
}

.page-header {
  .btn {
    margin: 0.8em 0 0.8em 0.8em;
  }
}

.table {
  .actions {
    a {

      //margin-right: 1.5em;
      //margin-bottom: 0.5em;
      //
      i {
        min-width: unset;
        text-align: center;
      }

      &.show-actions {
        color: $color-link;

        &:hover {
          color: $color-link-hover;
        }
      }

      &:hover {
        color: $color-link;

        i {
          color: $color-link;

          &.fa-trash {
            //color: $color-danger;
          }

          &.fa-glasses {
            //color: $color-tertiary;
          }

          &.fa-lock {
            //color: $color-black;
          }
        }
      }
    }
  }
  .actions,
  .actions-hover {

    a {
      margin-right: 0;
      color: #08c;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*backend custom END*/
