{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}
{% set searchFormAction = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_deal_new') }}">Opret ny</a>
{% endblock %}

{% block table_head %}
    <tr>
        <th align="center">
            <input type="checkbox" value="all" class="select-all-checkboxes"/>
            #
        </th>
        <th>Produktnavn</th>
        <th>Status</th>
        <th>Køber</th>
        <th>Sælger</th>
        <th>Stand</th>
        <th style="text-align: right;">Pris</th>
        <th style="text-align: right;">Oprettet</th>
        {#        <th>Billede</th>#}
        <th class="actions" style="text-align: center;">Handlinger</th>
    </tr>
{% endblock %}

{% block table_row %}
    {# @var entity \App\Entity\Deal #}
    <tr>
        <td>
            <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" id="id_{{ entity.id }}" class="entity-checkbox mr-xs"/>
            <label for="id_{{ entity.id }}">{{ entity.id }}</label>
        </td>
        <td>
            <a href="{{ path('backend_admin_deal_edit', {'id': entity.id}) }}">{{ entity.productName }}</a>
        </td>
        <td>{{ entity.status|trans }}</td>
        <td>{{ entity.buyer.name|default("") }}</td>
        <td>{{ entity.seller.name|default("(Ingen valgt)") }}</td>
        <td>{{ entity.productCondition|trans }}</td>
        <td style="text-align: right;">{{ entity.price|number_format }} {{ entity.currency|default("DKK") }}</td>
        {% set _locale = app.request.locale|default('da') %}
        <td style="text-align: right;">{{ entity.createdAt|format_datetime('medium', 'short', locale=_locale) }}</td>
        {#        <td>{{ entity.image }}</td>#}
        <td class="actions" style="text-align: center;" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_deal_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>
                {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_deal_delete', {'id': entity.id}) }) }}
            </div>
        </td>
    </tr>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let pathDeleteEntities = "{{ path('base_backend_admin_deal_delete_multiple') }}";
    </script>
{% endblock %}


