{% extends("frontend/base.html.twig") %}
{% trans_default_domain "frontend" %}

{% set title = "Forside" %}

{% block content %}

    <div class="row pt-5 signup">
        <div class="col-md-6 mb-5"></div>
        <div class="col-md-6 mb-5">
            <h1>Tak fordi du oprettede en Safe2Trade profil!</h1>
            <h5 class="mb-3">Du kan nu logge ind</h5>
            <p>Vi opfordrer dig til at gennemlæse de vejledende artikler som ligger klar til dig i dit homefeed først du går igang med at handle</p>
            <p>Har du problemer eller spørgsmål kan du kontakte os <a href="#" onclick="return false;" data-toggle="modal" data-target="#contactForm">her</a></p>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            $("#verify-email-btn").click(function (event) {
                event.preventDefault();
                let code = $("#signup_verify_verifyEmail").val().trim();

                if (code === "") {
                    alert("Indtast venligst bekræftelseskoden for godkendelse af e-mail");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('frontend_signup_verify_email', {'uuid': user.uuid}) }}",
                        data: {
                            code: code
                        },
                        success: function (response) {
                            if (response.verified === true) {
                                $("#email-verified").fadeIn();
                            }
                        }
                    });
                }
            });

            $("#verify-sms-btn").click(function (event) {
                event.preventDefault();
                alert("test2_");
            });

            $("#resend-email").click(function (event) {
                event.preventDefault();

                let _this = $(this);

                $.ajax({
                    type: "POST",
                    url: "{{ path('frontend_signup_verify_email_resend_code', {'uuid': user.uuid}) }}",
                    data: {},
                    success: function (response) {

                        if (response.sent === true) {
                            _this.append("<p class='alert alert-success'>Mail er afsendt!</p>");
                        }
                    }
                });

            });
        });
    </script>
{% endblock %}
