{% extends("frontend/base.html.twig") %}
{% trans_default_domain "frontend" %}

{% set title = "Forside" %}

{% block content %}

    <div class="row pt-5 signup">
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5">
            <h1>Opret ny konto</h1>
            <h5 class="mb-3">- 3 nemme trin</h5>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.birthday) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips fødselsdato'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.gender) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips køn'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.address) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips adresse'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.zip) }}
                </div>
                <div class="col-8">
                    {{ form_row(form.city) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips postnr_by'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.country) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips land'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            //init with autocomplete
            autocompleteCity($(".zip-autocomplete").val());

            //autocomplete on keyup
            $(".zip-autocomplete").on("keyup", function() {
                let zip = $(this).val();
                autocompleteCity(zip);

                //validate max 4 chars
                limitText(this, 4);
            });
        });

        function autocompleteCity(zip) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ path('external_services_dawa_get_city_by_zip') }}",
                data: {
                    zip: zip
                },
                success:function(response) {
                    if(response.status === "success") {
                        $(".city-autocomplete").val(response.city);
                    }
                }
            });
        }

        /**
         * validate form
         */
        let form = $("form[name='signup_info']");
        form.on("submit", function () {
            let errors = false;
            let errorMsg;
            let value;

            //empty values
            form.find("input").each(function () {
                value = $(this).val().trim();

                if (value === "") {
                    errors = true;
                    $(this).addClass("error");
                } else {
                    $(this).removeClass("error");
                }
            });

            //address
            let address = $("#signup_info_address");
            let regex = /^[0-9A-Za-z.,æøåÆØÅ ÀÁÂÃÄÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖÙÚÛÜÝÞßàáâãäçèéêëìíîïðñòóôõöùúûüýþÿ]+$/;
            let regexInt = /\d/;
            let regexIntStrict = /^\d+$/;
            if ( regex.test(address.val()) && regexInt.test(address.val()) && !regexIntStrict.test(address.val()) && address.val().trim() !== "") {
                address.removeClass("error");
            }
            else {
                errors = true;
                address.addClass("error");
                errorMsg = "{{ 'Adresse må kun indeholde bogstaver, tal, mellemrum og punktum, samt indeholde mindst ét tal'|trans }}";
                alert(errorMsg);
            }

            if (!errors) {
                return true;
            }

            return false;
        });

        function limitText(field, maxChar){
            let ref = $(field);
            let val = ref.val();
            if ( val.length >= maxChar ){
                ref.val(function() {
                    return val.substr(0, maxChar);
                });
            }
        }


    </script>
{% endblock %}



