{% extends("frontend/base.html.twig") %}
{% trans_default_domain "frontend" %}

{% set title = "Forside" %}

{% block content %}

    <div class="row pt-5 signup">
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5">
            <h1>Opret ny konto</h1>
            <h5 class="mb-3">- 3 nemme trin</h5>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.lastname) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips fornavn_efternavn'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.email) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips email'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.phone) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips mobilnummer'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.password) }}
                </div>
                <i class="fas fa-question-circle signup-tooltip" title="{{ 'opret_konto_tips adgangskode'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

            /**
             * validate form
             */
            let form = $("form[name='signup_start']");
            form.on("submit", function () {
                let errors = false;
                let errorMsg;
                let value;

                //empty values
                form.find("input").each(function () {
                    value = $(this).val().trim();

                    if (value === "") {
                        errors = true;
                        $(this).addClass("error");
                    } else {
                        $(this).removeClass("error");
                    }
                });

                //first- and lastname
                let firstname = $("#signup_start_firstname");
                let lastname = $("#signup_start_lastname");

                let regex = /^[A-Za-z.æøåÆØÅ ÀÁÂÃÄÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖÙÚÛÜÝÞßàáâãäçèéêëìíîïðñòóôõöùúûüýþÿ]+$/;
                if (regex.test(firstname.val()) || firstname.val().trim() === "") {
                    firstname.removeClass("error");
                } else {
                    errors = true;
                    firstname.addClass("error");
                    errorMsg = "{{ 'Fornavn må kun indeholde bogstaver, mellemrum og punktum. Prøv venligst igen.'|trans }}";
                    alert(errorMsg);

                }
                if (regex.test(lastname.val()) || lastname.val().trim() === "") {
                    lastname.removeClass("error");
                } else {
                    errors = true;
                    lastname.addClass("error");
                    errorMsg = "{{ 'Efternavn må kun indeholde bogstaver, mellemrum og punktum. Prøv venligst igen.'|trans }}";
                    alert(errorMsg);

                }

                //password
                let password = $("#signup_start_password_first");
                if (password.val().length >= 8) {
                    password.removeClass("error");
                } else {
                    errors = true;
                    password.addClass("error");
                    errorMsg = "{{ 'Adgangskode skal minimum være 8 karakterer lang. Prøv venligst igen.'|trans }}";
                    alert(errorMsg);
                }

                if (!errors) {
                    return true;
                }

                return false;
            });
        });
    </script>
{% endblock %}

