{% extends("frontend/base.html.twig") %}
{% trans_default_domain "frontend" %}

{% set title = "Forside" %}

{% block content %}

    <div class="row pt-5 signup">
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5">
            <h1>{{ 'Opret ny konto'|trans }}</h1>
            <h5 class="mb-3">- {{ '3 nemme trin'|trans }}</h5>

            {{ form_start(form) }}
            <div class="row form-input-with-label">
                <div class="alert alert-success col-12" id="email-verified" style="{% if not user.verifiedEmail %}display: none;{% endif %}">
                    <i class="fa fa-check"></i>
                    <span class="ml-2">{{ 'E-mail bekræftet'|trans }}!</span>
                </div>
                <div class="col-8 hide-on-verified-email">
                    {{ form_row(form.verifyEmail) }}
                    <a href="#" id="resend-email">{{ 'Gensend'|trans }} {{ 'email'|trans }}</a>
                </div>
                <div class="col-4 hide-on-verified-email">
                    <a href="#" class="btn btn-primary" id="verify-email-btn" style="margin-top:2rem;">{{ 'Bekræft'|trans }}</a>
                </div>
                <i class="fas fa-question-circle signup-tooltip hide-on-verified-email" title="{{ 'opret_konto_tips bekræft_email'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>

            <div class="row form-input-with-label mt-5 mb-5">
                <div class="alert alert-success col-12" id="sms-verified" style="{% if not user.verifiedSms %}display: none;{% endif %}">
                    <i class="fa fa-check"></i>
                    <span class="ml-2">{{ 'SMS bekræftet'|trans }}!</span>
                </div>

                <div class="col-8 hide-on-verified-sms">
                    {{ form_row(form.verifySms) }}
                    <a href="#" id="resend-sms">{{ 'Gensend'|trans }} {{ 'sms'|trans }}</a>
                </div>
                <div class="col-4 hide-on-verified-sms">
                    <a href="#" class="btn btn-primary" id="verify-sms-btn" style="margin-top:2rem;">{{ 'Bekræft'|trans }}</a>
                </div>
                <i class="fas fa-question-circle signup-tooltip hide-on-verified-sms" title="{{ 'opret_konto_tips bekræft_mobilnummer'|trans }}" data-toggle="tooltip" data-placement="top"></i>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {% if user.verifiedSms %}
            .hide-on-verified-sms {
                display: none;
            }
        {% endif %}
        {% if user.verifiedEmail %}
            .hide-on-verified-email {
                display: none;
            }
        {% endif %}
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            let codeInput;
            let code;

            $("#verify-email-btn").click(function (event) {
                event.preventDefault();
                codeInput = $("#signup_verify_verifyEmail");
                code = codeInput.val().trim();

                if (code === "") {
                    alert("Indtast venligst bekræftelseskoden for godkendelse af e-mail");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('frontend_signup_verify_email', {'uuid': user.uuid}) }}",
                        data: {
                            code: code
                        },
                        success: function (response) {
                            if (response.verified === true) {
                                $("#email-verified").fadeIn();
                                $(".hide-on-verified-email").hide();
                                codeInput.removeClass("error");
                            }
                            else {
                                codeInput.addClass("error");
                            }
                        }
                    });
                }
            });

            $("#resend-email").click(function (event) {
                event.preventDefault();
                let _this = $(this);
                $.ajax({
                    type: "POST",
                    url: "{{ path('frontend_signup_verify_email_resend_code', {'uuid': user.uuid}) }}",
                    data: {},
                    success: function (response) {

                        if (response.sent === true) {
                            $("form p.alert-success").hide();
                            _this.closest("div").append("<p class='alert alert-success'>Mail er afsendt!</p>");
                        }
                    }
                });
            });

            $("#verify-sms-btn").click(function (event) {
                event.preventDefault();
                codeInput = $("#signup_verify_verifySms");
                code = codeInput.val().trim();

                if (code === "") {
                    alert("Indtast venligst bekræftelseskoden for godkendelse af mobilnummer");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('frontend_signup_verify_sms', {'uuid': user.uuid}) }}",
                        data: {
                            code: code
                        },
                        success: function (response) {
                            if (response.verified === true) {
                                $("#sms-verified").fadeIn();
                                $(".hide-on-verified-sms").hide();
                                codeInput.removeClass("error");
                            }
                            else {
                                codeInput.addClass("error");
                            }
                        }
                    });
                }
            });

            $("#resend-sms").click(function (event) {
                event.preventDefault();

                let _this = $(this);

                $.ajax({
                    type: "POST",
                    url: "{{ path('frontend_signup_verify_sms_resend_code', {'uuid': user.uuid}) }}",
                    data: {},
                    success: function (response) {

                        $("form p.alert").hide();
                        if (response.sent === true) {
                            _this.closest("div").append("<p class='alert alert-success'>SMS er afsendt!</p>");
                        }
                        else if (response.sent === false) {
                            _this.closest("div").append("<p class='alert alert-danger'>Der er sket en fejl.<br>SMS ikke afsendt!</p>");
                        }
                        else if (response.sent !== 'undefined') {
                            _this.closest("div").append("<p class='alert alert-danger'>SMS ikke sendt.<br>"+response.sent+"</p>");
                        }
                        else {
                            _this.closest("div").append("<p class='alert alert-danger'>Der er sket en fejl.<br>SMS ikke afsendt!</p>");
                        }
                    }
                });

            });
        });
    </script>
{% endblock %}
