{% if form is defined %}{% form_theme form 'bootstrap_4_layout.html.twig' %}{% endif %}
{% trans_default_domain "frontend" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAV ICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/backend/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/backend/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/backend/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/backend/favicon/site.webmanifest') }}">

    <title>Safe2Trade | {{ title|default("")|trans }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('frontend') }}
    {% endblock %}
</head>

<body class="{{ bodyClass|default("") }}">

<div class="container w-100 m-auto">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top p-0 top-menu">

        <div class="container m-auto bg-white {#border-bottom#} py-2" style="max-width: 1370px; padding: 0 30px;">
            <a class="navbar-brand logo" href="/">
                <img src="{{ asset('assets/backend/images/logo.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                {# {{ knp_menu_render("frontend_main_menu") }} #}

                <ul class="navbar-nav ml-auto small">
                    <li class="nav-item"><a class="nav-link" href="{{ path('frontend_index') }}">{{ 'Start'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://safe2trade.dk/personerne-bag/">{{ 'Om Safe2Trade'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://safe2trade.dk/hjaelp-og-vejledning/">{{ 'Hjælp og vejledning'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('frontend_signup_start') }}">{{ 'Tilmeld dig'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://safe2trade.dk/presse/">{{ 'Presse'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="return false;" data-toggle="modal" data-target="#contactForm">{{ 'Kontakt'|trans }}</a></li>

                    {% if app.user and app.user.rolesHierarchy == 30 %}
                        <li class="nav-item mx-md-1 my-2 my-md-0"><a class="btn btn-light border text-sm rounded-0" href="{{ path('homefeed_index') }}">{{ 'Log ind'|trans }}</a></li>
                    {% else %}
                        <li class="nav-item mx-md-1 my-2 my-md-0"><a class="btn btn-light border text-sm rounded-0" href="{{ path('app_login') }}">{{ 'Log ind'|trans }}</a></li>
                    {% endif %}

                    <li class="nav-item ml-md-1 mb-2 mb-md-0"><a class="btn btn-primary text-sm rounded-0" href="{{ path('frontend_signup_start') }}">{{ 'Register'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid page-content">

        <div class="container pb-2">

            {% include('flashbag.html.twig') %}

            {% block content %}{% endblock %}

        </div>
    </div>

    {% block footer %}
        {% include('footer.html.twig') %}
    {% endblock %}

</div>

{% block contactForm %}
    {% include('homefeed/include/modal_contact_form.html.twig') %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/common/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/common/js/bootstrap.4.5.3.min.js') }}"></script>
    <script>
        $(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $("#contactFormSubmit").click(function (event) {
                event.preventDefault();
                let contactFormFooter = $("#contactFormFooter");
                let successAlert = $("#contactFormSuccess");
                let contactForm = $("#contactForm");
                let email = $("#contactFormEmail");
                let subject = $("#contactFormSubject");
                let text = $("#contactFormText");

                contactFormFooter.hide();

                $.ajax({
                    type: "POST",
                    url: "{{ path('contact_form_create_inquery') }}",
                    data: {
                        email: email.val(),
                        subject: subject.val(),
                        text: text.val(),
                    },
                    success: function (response) {
                        if (response.status === "success") {
                            successAlert.fadeIn();
                            setTimeout(function () {
                                successAlert.fadeOut();
                                contactForm.modal('hide');
                                contactFormFooter.show();
                            }, 3000);
                            email.val("");
                            text.val("");
                        }
                    }
                });
            });
        });

    </script>
{% endblock %}
</body>
</html>
