{% extends("frontend/base.html.twig") %}
{% trans_default_domain "frontend" %}

{% set title = entity.headline %}

{% block content %}

    <div class="row pt-3">
        <div class="col-md-8">
            <h1>{{ entity.headline }}</h1>
            <p class="d-block">{{ entity.text|nl2br }}</p>
        </div>
        <div class="col-md-4">
            <h1>&nbsp;</h1>
            {% set image = '/uploads/blog/'~entity.image %}
            <img class="img-fluid" src="{{ image|imagine_filter('blog_image') }}" alt="{{ entity.headline }}">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2>Feed</h2>
        </div>
    </div>

    <div class="row pt-0 mt-3  blog-list">
        <div class="row">

            {# @var blog \App\Entity\Blog #}
            {% for blog in blogs %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 bg-transparent">
                        {% if blog.image %}
                            <a href="{{ path('blog', {'slug': blog.slug}) }}" class="d-block" style="min-height: 140px; max-width: 100%;">
                                {% set image = '/uploads/blog/'~blog.image %}
                                <img class="img-fluid" src="{{ image|imagine_filter('blog_image') }}" alt="{{ blog.headline }}">
                            </a>
                        {% endif %}
                        <div class="card-body bg-white pt-3">
                            <p>{{ blog.headline }}</p>
                            <small class="d-block">{{ blog.text|slice(0,300) }}{% if blog.text|trim|length > 300 %}...{% endif %}</small>
                            <a href="{{ path('blog', {'slug': blog.slug}) }}" class="d-block mt-3 small">{{ 'Læs mere'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
