{% extends("frontend/base.html.twig") %}
{% trans_default_domain "frontend" %}

{% set title = "Forside" %}

{% block content %}
    <div class="row pt-3">
        <div class="col-md-8 init-steps">
            <div class="row">
                <div class="col-12 h-100 col-md-4 text-center mb-3">
                    <div class="card ">
                         <img src="{{ asset('assets/frontend/img/01_nemt.png') }}">
                        <p>{{ 'Nemt'|trans }}</p>
                        <small>{{ 'Forside topboks 1/3 (Nemt)'|trans }}</small>
                    </div>
                </div>
                <div class="col-12 h-100 col-md-4 text-center mb-3">
                    <div class="card h-100">
                         <img src="{{ asset('assets/frontend/img/02_hurtigt.png') }}">
                        <p>{{ 'Hurtigt'|trans }}</p>
                        <small>{{ 'Forside topboks 2/3 (Hurtigt)'|trans }}</small>
                    </div>
                </div>
                <div class="col-12 h-100 col-md-4 text-center mb-3">
                    <div class="card">
                         <img src="{{ asset('assets/frontend/img/03_sikkert.png') }}">
                        <p>{{ 'Sikkert'|trans }}</p>
                        <small>{{ 'Forside topboks 3/3 (Sikkert)'|trans }}</small>
                        <a href="{{ path('frontend_signup_start') }}" class="btn btn-link">{{ 'Start her'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 front-page-right-call-to-action mb-3">
            <div class="card h-100 bg-transparent">
                <div class="card-header bg-grey">
                    <img src="{{ asset('assets/common/img/triangle.png') }}">
                    <h5>{{ 'Register dig her'|trans }}</h5>
                </div>
                <div class="card-body text-center bg-white">
                    <img src="{{ asset('assets/frontend/img/reg_her.png') }}">
                    <small>{{ 'Forside øverst th. (Register dig her)'|trans }}</small>
                    <a href="{{ path('frontend_signup_start') }}" class="btn btn-link">{{ 'Register dig nu'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-0 mt-4">
        <div class="col-md-8 mb-5 blog-list">
            <div class="row">

                {# @var blog \App\Entity\Blog #}
                {% for blog in blogs %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100 bg-transparent">
                            <a href="{{ path('blog', {'slug': blog.slug}) }}" class="d-block" style="min-height: 140px;">
                                {% set image = '/uploads/blog/'~blog.image %}
                                <img class="img-fluid" src="{{ image|imagine_filter('blog_image') }}" alt="{{ blog.headline }}">
                            </a>
                            <div class="card-body bg-white pt-3">
                                <p>{{ blog.headline }}</p>
                                <small class="d-block">{{ blog.text|slice(0,300) }}{% if blog.text|trim|length > 300 %}...{% endif %}</small>
                                <a href="{{ path('blog', {'slug': blog.slug}) }}" class="d-block mt-3 small">{{ 'Læs mere'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="col-md-4 mb-5">
            &nbsp;
        </div>
    </div>

{% endblock %}
