<div class="flashbag pt-3">
    {% for flashVar in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation"></i>
            <span class="ml-2 small">{{ flashVar|trans }}</span>
        </div>
    {% endfor %}
    {% for flashVar in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            <i class="fa fa-exclamation"></i>
            <span class="ml-2 small">{{ flashVar|trans }}</span>
        </div>
    {% endfor %}
    {% for flashVar in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <i class="fa fa-check"></i>
            <span class="ml-2 small">{{ flashVar|trans }}</span>
        </div>
    {% endfor %}
    {% for flashVar in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            <i class="fa fa-info"></i>
            <span class="ml-2 small">{{ flashVar|trans|raw }}</span>
        </div>
    {% endfor %}
</div>