{% trans_default_domain "frontend" %}
<footer class="py-5 bg-dark text-white">
    <div class="row text-center text-md-left ml-0 ml-md-2">
        <div class="col col-12 col-md-2 w-100 px-4">
            <img src="{{ asset('assets/common/img/triangle.png') }}" style="max-width: 50px;" class="ml-md-3 mb-4 mb-md-0">
        </div>
        <div class="col col-12 col-md-3 w-100 px-4">
            <p class="mb-3">{{ 'Om Safe2Trade'|trans }}</p>
            <ul>
                <li><a href="https://safe2trade.dk/personerne-bag/" class="hover:underline">{{ 'Personerne bag'|trans }}</a></li>
                <li><a href="https://safe2trade.dk/mission-og-vision/" class="hover:underline">{{ 'Mission og vision'|trans }}</a></li>
                <li><a href="https://safe2trade.dk/presse/" class="hover:underline">{{ 'Presse'|trans }}</a></li>
            </ul>
        </div>
        <div class="col col-12 col-md-3 w-100 px-4">
            <p class="mb-3">{{ 'Kontakt'|trans }}</p>
            <ul>
                <li><a href="https://safe2trade.dk/kontakt/" onclick="return false;" data-toggle="modal" data-target="#contactForm">{{ 'Kontakt os'|trans }}</a></li>
                <li><a href="https://safe2trade.dk/hjaelp-og-vejledning/" class="">{{ 'Hjælp og vejledning'|trans }}</a></li>
            </ul>
        </div>
        <div class="col col-12 col-md-4 w-100 px-4">
            <p class="mb-3">{{ 'Social Media'|trans }}</p>
            <div class="flex so-me-icons">
                <a href="#" class="mr-3">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mr-3">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="mr-3">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-dark text-sm text-white small">
        <div class="container pt-5 pb-3 py-4 mx-auto">
            <div class="text-center text-md-right d-block mr-0 mr-sm-4">
                {% include('locale_switcher.html.twig') %}
                <a href="https://safe2trade.dk/privatlivspolitik/" rel="noopener noreferrer" class="small text-white hover:underline mx-sm-4 d-block d-sm-inline">{{ 'Privatlivspolitik'|trans }}</a>
                <a href="https://safe2trade.dk/tjeneste-og-bruger-vilkaar/" rel="noopener noreferrer" class="small ttext-white hover:underline opacity-75 mr-sm-4 d-block d-sm-inline">{{ 'Handelsbetingelser'|trans }}</a>
                <a href="https://safe2trade.dk/privatlivspolitik/" rel="noopener noreferrer" class="small ttext-white hover:underline opacity-75 d-block d-sm-inline">{{ 'Cookies'|trans }}</a>
                <div class="copyright small text-center text-md-left text-white d-block float-md-left ml-0 ml-md-4">
                    &copy; {{ "now"|date("Y") }} Safe2Trade, Inc. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>