{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}
{#{% for locale in locales %}#}
{#    <a href="{{ path(route, params|merge({ _locale: locale })) }}">#}
{#        {{ locale }}#}
{#    </a>#}
{#{% endfor %}#}

{#<small>#}
    {% if app.request.locale == "en" %}
        <a href="{{ path(route, params|merge({ _locale: 'da_DK' })) }}">Dansk version</a>
    {% else %}
        <a href="{{ path(route, params|merge({ _locale: 'en_EN' })) }}">English version</a>
    {% endif %}
{#</small>#}