@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: $bg;
}

html {

}

body {
    padding-top: 56px;

}

.logo {

    img {
        max-height: 30px;
    }
}
.triangle {
    height: 42px;

    &.point-down {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    &.point-left {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    &.point-up {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

a {
    color: $link;
    text-decoration: underline;
    outline: 0 none;

    &.underlined {
        color: $link;
        text-decoration: underline;
    }

    .btn {
        text-decoration: none !important;
    }
}
a.underlined:hover,
a:hover {
    text-decoration: none;
}

a.btn,
.navbar-nav a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &.text-sm {
        font-size: 0.8rem !important;
        padding: 0.5rem 1.5rem !important
    }
}

.btn-link {
    background:$link;
    border-color:$link;
    color: $white;
    border-radius: 20px;
    padding: 0.3rem 1.6rem;
    font-size: 80%;

    &:hover {
        opacity: 0.8;
        color: $white;

    }
}

.top-menu {
    background-color: $bg;
}

.container-fluid {
    &.page-content {
        background-color: $whiteish;
    }
}

footer {
    //background: #02171B;
    a {
        color: $white;
        text-decoration: none;
        font-size: 80%;
        opacity: 0.75;

        &:hover {
            color: $white;
            opacity: 1;
        }
    }

    p {

    }

    ul {
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 0.3rem;

            a {

            }

        }
    }

    .copyright {
        opacity: 0.75;
        margin-top: 3px;
    }

    .so-me-icons {

        i {
            font-size: 20px;
        }
    }
}


div.error,
select.error,
textarea.error,
select.error,
input.error {
    border: solid 2px #ED4337;
}

i.success {
    color: #4BB543;
}
.no-pointer {
    cursor: default !important;
}

/**
*   MIN-WIDTH
*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .triangle {
        height: 42px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/**
*   MAX-WIDTH
*/
@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
    .triangle {
        height: 30px;
    }
}

@media (max-width: 1200px) {
}
