:root {
    --star-size: 36px;
    --star-color: lightgray;
    --star-background: #13917f;
    --star-background-lighten: #16ab95;
}

.star-score {
    //--percent: calc(var(--rating) / 5 * 100%);
    background-image: url("/assets/common/img/s2t_5stars.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 180px;
    position: relative;
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    //line-height: 1em;
    height: 1em;
    width: calc(var(--rating) * 36px);

    &.star-score-lesser {
    //    //font-size: 22px;
        background-size: 150px;
        width: calc(var(--rating) * 30px);
    }
    &.star-score-small {
        background-size: 95px;
        width: calc(var(--rating) * 19px);
    }

    &::before {
        display: inline-block;
        content: '★★★★★';
        letter-spacing: 3px;
        //background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        //background-image: url("/assets/common/img/s2t_5stars.png"), linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top:5px;
    }

    .number {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        font-size: 0.4em;
        top: 0.6rem;
        right: -30px;
    }
}

.checkboxes-as-stars {
    float: left;
    width: 100%;
    margin-bottom: 10px;

    i {
        color: #999;
    }

    input {
        border: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        opacity: 0;
    }

    label {
        position: relative;
        float: right;
        color: #fff;
        font-size: 0;
    }

    label:before {
        margin: 0 4px;
        content: "\f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: inline-block;
        font-size: 3rem;
        color: #ccc;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    input:checked ~ label:before {
        color: var(--star-background);
    }

    label:hover ~ label:before {
        color: var(--star-background-lighten);
    }

    label:hover:before {
        color: var(--star-background);
    }
}