{% trans_default_domain "mail" %}

<p>{% trans %}Du har anmodet om at modtage en mail så du kan nustille/genoprette din adgangskode til Safe2Trade.dk{% endtrans %}</p>
<p>{% trans %}Herunder klikker du blot på linket, og derfra skal du blot indtaste din nye adgangskode.{% endtrans %}</p>

<p style="margin-bottom:2px;">{% trans %}Nulstil din adgangskode:{% endtrans %}</p>
{% include "mail/base_btn.html.twig" with {"host": host, "href": path("login_new_password", {secret: user.secret|raw}), "text": "Opret ny adgangskode her"|trans} %}

<p>{% trans %}Held og lykke - kontakt os endelig på{% endtrans %} <a href="mailto:kontakt@safe2trade.dk">kontakt@safe2trade.dk</a> {% trans %}hvis du har spørgsmål eller brug for hjælp.{% endtrans %} </p>