{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}
{% set searchFormAction = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_employee_new') }}">Opret ny</a>
{% endblock %}

{% block table_head %}
    <tr>
        <th align="center">
            <input type="checkbox" value="all" class="select-all-checkboxes"/>
            #
        </th>
        <th>Navn</th>
        <th>Brugernavn / E-mail</th>
        <th>Rolle</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}

{% block table_row %}
    <tr>
        <td>
            <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" class="entity-checkbox"/>
            {{ entity.id }}
        </td>
        <td> <a href="{{ path('backend_admin_employee_edit', {'id': entity.id}) }}" title="Rediger">{{ entity.name }}</a></td>
        <td>{{ entity.username }}</td>
        <td>
        {% if "ROLE_ADMIN" in entity.roles %}
            Administrator
        {% else %}
            Bruger
        {% endif %}
        </td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_employee_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>
                {% if entity.username|lower != "frivillig" and entity.username|lower != "admin" %}
                    {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_employee_delete', {'id': entity.id}) }) }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let pathDeleteEntities = "{{ path('base_backend_admin_user_delete_multiple') }}";
    </script>
{% endblock %}

