{% trans_default_domain 'mail' %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title|trans }}</title>
    <style>
        img{border:none;-ms-interpolation-mode:bicubic;max-width:100%;}
        body{background-color:#f6f6f6;font-family:sans-serif;-webkit-font-smoothing:antialiased;font-size:14px;line-height:1.4;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin:0;padding:0;}
        table{border-collapse:separate;mso-table-lspace:0;mso-table-rspace:0;width:100%;}
        table td{font-family:sans-serif;font-size:14px;vertical-align:top;}
        .body{background-color:#f6f6f6;width:100%;}
        .container{display:block;max-width:580px;width:580px;margin:0 auto!important;padding:10px;}
        .content{box-sizing:border-box;display:block;max-width:580px;margin:0 auto;padding:10px;}
        .main{background:#fff;border-radius:3px;width:100%;}
        .wrapper{box-sizing:border-box;padding:20px;}
        .content-block{padding-bottom:10px;padding-top:10px;}
        .footer{clear:both;margin-top:10px;text-align:center;width:100%;}
        .footer td,.footer p,.footer span,.footer a{color:#999;font-size:12px;text-align:center;}
        h1,h2,h3,h4{color:#000;font-family:sans-serif;font-weight:400;line-height:1.4;margin:0 0 30px;}
        h1{font-size:35px;font-weight:300;text-align:center;}
        p,ul,ol{font-family:sans-serif;font-size:14px;font-weight:400;margin:0 0 15px;}
        p li,ul li,ol li{list-style-position:inside;margin-left:5px;}
        a{color:#34495e;text-decoration:underline;}
        .btn{box-sizing:border-box;width:100%;}
        .btn > tbody > tr > td{padding-bottom:15px;}
        .btn table{width:auto;}
        .btn table td{background-color:#fff;border-radius:5px;text-align:center;}
        .btn a{background-color:#fff;border:solid 1px #34495e;border-radius:5px;box-sizing:border-box;color:#34495e;cursor:pointer;display:inline-block;font-size:14px;font-weight:700;text-decoration:none;margin:0;padding:12px 25px;}
        .btn-primary table td{background-color:#34495e;}
        .btn-primary a{background-color:#34495e;color:#fff;border-color:#34495e;}
        .align-center{text-align:center;}
        .align-right{text-align:right;}
        .align-left{text-align:left;}
        .clear{clear:both;}
        .preheader{color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;visibility:hidden;width:0;}
        .powered-by a{text-decoration:none;}
        hr{border:0;border-bottom:1px solid #f6f6f6;margin:20px 0;}
        .last,.mb0{margin-bottom:0;}
        .first,.mt0{margin-top:0;}
        @media only screen and (max-width: 620px) {
            table[class=body] h1{font-size:28px!important;margin-bottom:10px!important;}
            table[class=body] p,table[class=body] ul,table[class=body] ol,table[class=body] td,table[class=body] span,table[class=body] a{font-size:16px!important;}
            table[class=body] .wrapper,table[class=body] .article{padding:10px!important;}
            table[class=body] .content{padding:0!important;}
            table[class=body] .container{width:100%!important;padding:0!important;}
            table[class=body] .main{border-left-width:0!important;border-radius:0!important;border-right-width:0!important;}
            table[class=body] .img-responsive{height:auto!important;max-width:100%!important;width:auto!important;}
            table[class=body] .btn table,table[class=body] .btn a{width:100%!important;}
        }
        @media all {
            .ExternalClass{width:100%;}
            .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{line-height:100%;}
            .apple-link a{color:inherit!important;font-family:inherit!important;font-size:inherit!important;font-weight:inherit!important;line-height:inherit!important;text-decoration:none!important;}
            #MessageViewBody a{color:inherit;text-decoration:none;font-size:inherit;font-family:inherit;font-weight:inherit;line-height:inherit;}
            .btn-primary table td:hover{background-color:#34495e!important;}
            .btn-primary a:hover{background-color:#191c21!important;border-color:#191c21!important;}
        }
    </style>
</head>
<body class="">
<span class="preheader">{{ preheader }}</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table role="presentation" class="main">
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>{% trans %}Hej{% endtrans %} {{ firstname }},</p>
                                        {{ content|raw }}
{#                                        {% include "mail/base_btn.html.twig" with {"href": "http://krede.net", "text": "Gå til side"} %}#}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                {% if senderInfo != "" %}<span class="apple-link">Afsender:<br>{{ senderInfo }}</span>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="content-block powered-by">
                                {% trans %}Denne mail er sendt til{% endtrans %}<br /><em>{{ toEmail }}</em>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>
