{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}
{% set searchFormAction = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block actions %}
{#    <a class="btn btn-default" href="{{ path('backend_admin_user_new') }}">Opret ny</a>#}
{% endblock %}

{% block table_head %}
    <tr>
        <th>
            <input type="checkbox" value="all" class="select-all-checkboxes"/>
            #
        </th>
        <th></th>
        <th>Navn</th>
        <th>Brugernavn / E-mail</th>
        <th>Adresse</th>
        <th>Postnr.</th>
        <th>By</th>
        <th class="text-right pr-xl">Oprettet</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}


{% block table_row %}
    {# @var entity \App\Entity\User #}
    <tr>
        <td>
            <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" id="id_{{ entity.id }}" class="entity-checkbox mr-xs"/>
            <label for="id_{{ entity.id }}">{{ entity.id }}</label>
        </td>
        <td>
            {% if entity.deleteMe %}
                <i class="fas fa-flag" style="color: #B94A48;"></i> <em style="font-size: 0.9em;">Jeg vil gerne slettes!</em>
                <br>
                {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_user_delete', {'id': entity.id}) }) }}
            {% endif %}
        </td>
        <td> <a href="{{ path('backend_admin_user_edit', {'id': entity.id}) }}" title="Rediger">{{ entity.name }}</a></td>
        <td>{{ entity.username }}</td>
        <td>{{ entity.address }}</td>
        <td>{{ entity.zip }}</td>
        <td>{{ entity.city }}</td>
        <td class="text-right pr-xl" title="{{ entity.createdAt|format_datetime('medium', 'short', locale='da') }}">{{ entity.createdAt|format_datetime('medium', 'none', locale='da') }}</td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_user_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i>Rediger</a>
                <br>
                {{ include ("backend/base_btn.html.twig", {"href": path("homefeed_index", {_log_in_as: entity.username}), "text": "Log ind som bruger"|trans, "class": "btn btn-link btn-sm", "icon": "fas fa-glasses"}) }}
                {% if entity.username|lower != "frivillig" and entity.username|lower != "admin" %}
                    {{ include('backend/base_btn_delete_form.html.twig', { path: path('backend_admin_user_delete', {'id': entity.id}) }) }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let pathDeleteEntities = "{{ path('base_backend_admin_user_delete_multiple') }}";
    </script>
{% endblock %}


